.vesper-tag {
  display: inline-flex;
  align-items: center;
}

.vesper-tag-sm {
  height: 20px;
  gap: var(--vesper-spacing-half);
  padding: 0 var(--vesper-spacing-1);
  border-radius: var(--vesper-radius-half);
  .vesper-tag-icon {
    width: 12px;
    height: 12px;
  }
}

.vesper-tag-md {
  height: 24px;
  gap: var(--vesper-spacing-1);
  padding: 0 var(--vesper-spacing-2);
  border-radius: var(--vesper-radius-1);
  .vesper-tag-icon {
    width: 14px;
    height: 14px;
  }
}

.vesper-tag-lg {
  height: 28px;
  gap: var(--vesper-spacing-1);
  padding: 0 var(--vesper-spacing-2);
  border-radius: var(--vesper-radius-1);
  .vesper-tag-icon {
    width: 16px;
    height: 16px;
  }
}

.vesper-tag-default {
  background: var(--vesper-tint-neutral-300);
  color: var(--vesper-text-primary);
}

.vesper-tag-contrast {
  background: var(--vesper-background-inverse-primary);
  color: var(--vesper-text-inverse-primary);
}

.vesper-tag-accent-subtle {
  color: var(--vesper-text-accent);
  background: var(--vesper-background-accent-subtle);
}

.vesper-tag-accent-bold {
  color: var(--vesper-text-primary);
  background: var(--vesper-background-accent-base);
}

.vesper-tag-danger-subtle {
  color: var(--vesper-text-error);
  background: var(--vesper-background-error-subtle);
}

.vesper-tag-danger-bold {
  color: var(--vesper-text-inverse-primary);
  background: var(--vesper-background-error-base);
}

.vesper-tag-warning-subtle {
  color: var(--vesper-text-warning);
  background: var(--vesper-background-warning-subtle);
}

.vesper-tag-warning-bold {
  color: var(--vesper-text-inverse-primary);
  background: var(--vesper-background-warning-base);
}

.vesper-tag-success-subtle {
  color: var(--vesper-text-success);
  background: var(--vesper-background-success-subtle);
}

.vesper-tag-success-bold {
  color: var(--vesper-text-inverse-primary);
  background: var(--vesper-background-success-base);
}

.vesper-tag-info-subtle {
  color: var(--vesper-text-info);
  background: var(--vesper-background-info-subtle);
}

.vesper-tag-info-bold {
  color: var(--vesper-text-inverse-primary);
  background: var(--vesper-background-info-base);
}

.vesper-tag-disabled {
  color: var(--vesper-text-disabled);
  background: var(--vesper-background-disabled);
}
