.vesper-text-button {
  width: fit-content;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--vesper-spacing-1);
  font-weight: 400;
  text-transform: uppercase;
  font-family: var(--vesper-font-mono);
  line-height: var(--vesper-leading-none);
  letter-spacing: var(--vesper-tracking-normal);
  cursor: pointer;
  border-bottom: var(--vesper-border-width-base) solid transparent;
  &:focus-visible {
    box-shadow: var(--vesper-shadow-focus-ring);
  }
  @media (forced-colors: active) {
    &:focus-visible {
      outline: var(--vesper-outline-width-strong) solid CanvasText;
    }
  }
}

.vesper-text-button-lg {
  height: 1rem;
  font-size: 1rem;
  .vesper-text-button-icon {
    width: 1rem;
    height: 1rem;
  }
}

.vesper-text-button-md {
  height: 0.875rem;
  font-size: 0.875rem;
  .vesper-text-button-icon {
    width: 0.875rem;
    height: 0.875rem;
  }
}

.vesper-text-button-sm {
  height: 0.75rem;
  font-size: 0.75rem;
  .vesper-text-button-icon {
    width: 0.75rem;
    height: 0.75rem;
  }
}

.vesper-text-button-subtle {
  color: var(--vesper-color-text-tertiary);
  .vesper-text-button-icon {
    color: var(--vesper-color-icon-tertiary);
  }
  &:hover {
    border-bottom: var(--vesper-border-width-base) solid
      var(--vesper-color-border-primary);
  }
}

.vesper-text-button-contrast {
  color: var(--vesper-color-text-primary);
  .vesper-text-button-icon {
    color: var(--vesper-color-icon-primary);
  }
  &:hover {
    border-bottom: var(--vesper-border-width-base) solid
      var(--vesper-color-border-strong);
  }
}

.vesper-text-button-accent {
  color: var(--vesper-color-text-accent);
  .vesper-text-button-icon {
    color: var(--vesper-color-icon-accent);
  }
  &:hover {
    border-bottom: var(--vesper-border-width-base) solid
      var(--vesper-color-border-accent-base);
  }
}

.vesper-text-button-danger {
  color: var(--vesper-color-text-error);
  .vesper-text-button-icon {
    color: var(--vesper-color-icon-error);
  }
  &:hover {
    border-bottom: var(--vesper-border-width-base) solid
      var(--vesper-color-border-error-base);
  }
}

.vesper-text-button-warning {
  color: var(--vesper-color-text-warning);
  .vesper-text-button-icon {
    color: var(--vesper-color-icon-warning);
  }
  &:hover {
    border-bottom: var(--vesper-border-width-base) solid
      var(--vesper-color-border-warning-base);
  }
}

.vesper-text-button-success {
  color: var(--vesper-color-text-success);
  .vesper-text-button-icon {
    color: var(--vesper-color-icon-success);
  }
  &:hover {
    border-bottom: var(--vesper-border-width-base) solid
      var(--vesper-color-border-success-base);
  }
}

.vesper-text-button-info {
  color: var(--vesper-color-text-info);
  .vesper-text-button-icon {
    color: var(--vesper-color-icon-info);
  }
  &:hover {
    border-bottom: var(--vesper-border-width-base) solid
      var(--vesper-color-border-info-base);
  }
}

.vesper-text-button-purple {
  color: var(--vesper-color-text-brand-purple);
  .vesper-text-button-icon {
    color: var(--vesper-color-icon-brand-purple);
  }
  &:hover {
    border-bottom: var(--vesper-border-width-base) solid
      var(--vesper-color-border-brand-purple-base);
  }
}

.vesper-text-button-pink {
  color: var(--vesper-color-text-brand-pink);
  .vesper-text-button-icon {
    color: var(--vesper-color-icon-brand-pink);
  }
  &:hover {
    border-bottom: var(--vesper-border-width-base) solid
      var(--vesper-color-border-brand-pink-base);
  }
}

.vesper-text-button-disabled {
  color: var(--vesper-color-text-disabled);
  .vesper-text-button-icon {
    color: var(--vesper-color-icon-disabled);
  }
  pointer-events: none;
}
