.vesper-skeleton {
  position: relative;
  overflow: hidden;
}

.vesper-skeleton-overlay {
  position: absolute;
  inset: 0;
  background: var(--vesper-stone-300);
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 4rem;
    background: linear-gradient(
      to left,
      transparent,
      var(--vesper-alpha-inverse-200),
      transparent
    );
    animation: vesper-skeleton-shimmer 1.2s linear infinite;
  }
  @media (prefers-reduced-motion: reduce) {
    &::after {
      display: none;
    }
  }
}

.vesper-skeleton-box {
  border-radius: var(--vesper-radius-1);
}
.vesper-skeleton-pill {
  border-radius: 3.40282e38px;
}
.vesper-skeleton-circle {
  border-radius: 50%;
}

@keyframes vesper-skeleton-shimmer {
  0% {
    left: -4rem;
  }
  66%,
  100% {
    left: 100%;
  }
}
