.vesper-text-input {
  display: flex;
  flex-direction: column;
  gap: var(--vesper-spacing-2);
}

.vesper-text-input-label-wrapper {
  color: var(--vesper-text-secondary);
  display: flex;
  flex-direction: column;
  gap: var(--vesper-spacing-2);
}

.vesper-text-input-label {
  width: fit-content;
}

.vesper-text-input-field-wrapper {
  display: flex;
  align-items: center;
  border: var(--vesper-stroke-base) solid var(--vesper-border-secondary);
  background: var(--vesper-tint-neutral-100);
  &:has(
    .vesper-text-input-field:focus-visible,
    .vesper-text-input-icon:focus-visible,
    .vesper-text-input-dropdown:focus-visible,
    .vesper-text-input-dropdown[data-popup-open]
  ) {
    border: var(--vesper-stroke-base) solid var(--vesper-border-strong);
    box-shadow: var(--vesper-shadow-focus-ring);
    @media (forced-colors: active) {
      outline: var(--vesper-stroke-strong) solid CanvasText;
    }
  }
  &:has(.vesper-text-input-field:disabled) {
    border: var(--vesper-stroke-base) solid var(--vesper-border-disabled);
    background: var(--vesper-tint-neutral-200);
    .vesper-text-input-icon {
      color: var(--vesper-icon-disabled);
      pointer-events: none;
    }
  }
}

.vesper-text-input-success {
  .vesper-text-input-field-wrapper {
    border: var(--vesper-stroke-base) solid var(--vesper-border-success-base);
  }
}
.vesper-text-input-warning {
  .vesper-text-input-field-wrapper {
    border: var(--vesper-stroke-base) solid var(--vesper-border-warning-base);
  }
}
.vesper-text-input-error {
  .vesper-text-input-field-wrapper {
    border: var(--vesper-stroke-base) solid var(--vesper-border-error-base);
  }
}

.vesper-text-input-icon {
  color: var(--vesper-icon-secondary);
  flex-shrink: 0;
  &:where(button:not(:disabled)) {
    position: relative;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      inset: calc(var(--vesper-spacing-micro) * -4);
    }
  }
}

.vesper-text-input-field {
  width: 100%;
  &:focus-visible {
    outline: none;
    box-shadow: none;
  }
  /* https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/ */
  &:autofill,
  &:-webkit-autofill {
    transition: background-color 2147483647s step-end;
  }
  &:disabled {
    color: var(--vesper-text-tertiary);
    &::placeholder {
      color: var(--vesper-text-disabled);
    }
  }
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    -webkit-appearance: none;
    appearance: none;
    display: none; /* Secondary fallback to guarantee removal */
  }
}

.vesper-text-input-sm {
  .vesper-text-input-field-wrapper {
    gap: var(--vesper-spacing-1);
    padding: 0 var(--vesper-spacing-2);
    border-radius: var(--vesper-radius-1);
    height: 2rem;
  }
  .vesper-text-input-icon {
    width: 0.875rem;
    height: 0.875rem;
  }
  .vesper-text-input-dropdown {
    margin-left: calc(var(--vesper-spacing-1) * -1);
  }
  .vesper-text-input-field {
    padding: 0.43125rem 0;
  }
}

.vesper-text-input-md {
  .vesper-text-input-field-wrapper {
    gap: var(--vesper-spacing-2);
    padding: 0 var(--vesper-spacing-3);
    border-radius: var(--vesper-radius-2);
    height: 2.5rem;
  }
  .vesper-text-input-icon {
    width: 1rem;
    height: 1rem;
  }
  .vesper-text-input-dropdown {
    margin-left: calc(var(--vesper-spacing-1) * -1.5);
  }
  .vesper-text-input-field {
    padding: 0.6375rem 0;
  }
}

.vesper-text-input-icon + .vesper-text-input-dropdown {
  margin-left: 0;
}

.vesper-text-input-lg {
  .vesper-text-input-field-wrapper {
    gap: var(--vesper-spacing-2);
    padding: 0 var(--vesper-spacing-3);
    border-radius: var(--vesper-radius-2);
    height: 3rem;
  }
  .vesper-text-input-icon {
    width: 1.25rem;
    height: 1.25rem;
  }
  .vesper-text-input-dropdown {
    margin-left: 0;
  }
  .vesper-text-input-field {
    padding: 0.9rem 0;
  }
}

.vesper-text-input-field {
  color: var(--vesper-text-primary);
  &::placeholder {
    color: var(--vesper-text-tertiary);
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type="number"] {
    appearance: textfield;
  }
}
