.vesper-code-block {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--vesper-radius-2);
  border: var(--vesper-stroke-base) solid var(--vesper-stone-200);
  background: var(--vesper-alpha-stone-0);
  box-shadow: var(--vesper-shadow-inset-100);

  .vesper-icon-button {
    position: absolute;
    top: min(calc(50% - 16px), var(--vesper-spacing-5));
    right: var(--vesper-spacing-5);
  }

  @media (hover: hover) {
    &[data-copy-on-hover="true"] {
      .vesper-icon-button:not(:focus-visible) {
        opacity: 0;
      }
      &:hover {
        .vesper-icon-button {
          opacity: 1;
        }
      }
    }
  }
  @media (forced-colors: active) {
    &:has(.vesper-code-block-pre-wrapper:focus-visible) {
      outline: var(--vesper-stroke-strong) solid CanvasText;
    }
  }
  @media not (forced-colors: active) {
    &:has(.vesper-code-block-pre-wrapper:focus-visible) {
      box-shadow: var(--vesper-shadow-focus-ring);
    }
  }
}

.vesper-code-block-pre-wrapper {
  &:focus-visible {
    @media (forced-colors: active) {
      outline: none;
    }
    @media not (forced-colors: active) {
      box-shadow: none;
    }
  }
  width: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-radius: var(--vesper-radius-2);
  &::-webkit-scrollbar {
    display: none;
  }
  pre.shiki {
    min-width: max-content;
    margin: 0;
    padding: var(--vesper-spacing-5) 0;
    outline: none;
    line-height: 1.3875rem;
    .line {
      display: inline-block;
      padding: 0 var(--vesper-spacing-5);
      width: calc(100% - var(--vesper-spacing-10));
    }
  }
  &[data-line-numbers="true"] pre.shiki {
    counter-reset: step;
    counter-increment: step 0;
    .line::before {
      display: inline-block;
      content: counter(step);
      counter-increment: step;
      width: var(--vesper-spacing-12);
      color: var(--vesper-stone-500);
      user-select: none;
    }
  }
  pre.shiki-stream code {
    padding: 0 var(--vesper-spacing-5);
    display: block;
  }
}
