.vesper-code-block {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--vesper-radius-2);
  border: var(--vesper-stroke-base) solid var(--vesper-stone-200);
  background: var(--vesper-alpha-stone-0);
  box-shadow: var(--vesper-shadow-inset-100);

  .vesper-icon-button {
    position: absolute;
    top: min(calc(50% - 1rem), var(--vesper-spacing-5));
    right: var(--vesper-spacing-5);
  }

  @media (hover: hover) {
    &[data-copy-on-hover="true"] {
      .vesper-icon-button:not(:focus-visible) {
        opacity: 0;
      }
      &:hover {
        .vesper-icon-button {
          opacity: 1;
        }
      }
    }
  }
  @media (forced-colors: active) {
    &:has(.vesper-code-block-pre-wrapper:focus-visible) {
      outline: var(--vesper-stroke-strong) solid CanvasText;
    }
  }
  @media not (forced-colors: active) {
    &:has(.vesper-code-block-pre-wrapper:focus-visible) {
      box-shadow: var(--vesper-shadow-focus-ring);
    }
  }
}

.vesper-code-block-pre-wrapper {
  &:focus-visible {
    @media (forced-colors: active) {
      outline: none;
    }
    @media not (forced-colors: active) {
      box-shadow: none;
    }
  }
  width: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-radius: var(--vesper-radius-2);
  &::-webkit-scrollbar {
    display: none;
  }
  pre.shiki {
    min-width: max-content;
    margin: 0;
    padding: var(--vesper-spacing-5) 0;
    outline: none;
    line-height: 1.3875rem;
    code {
      font-family: var(--vesper-font-mono);
      display: flex;
      flex-direction: column;
    }
    .line {
      padding: 0 var(--vesper-spacing-5);
      width: calc(100% - var(--vesper-spacing-10));
      &::before {
        content: "";
        display: inline-block;
        user-select: none;
      }
    }
  }
  &[data-line-numbers="true"] pre.shiki {
    counter-reset: line;
    counter-increment: line 0;
    .line::before {
      content: counter(line);
      counter-increment: line;
      width: var(--vesper-spacing-12);
      color: var(--vesper-stone-500);
    }
  }
}

@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

html[data-vesper-theme="dark"] {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
