.vesper-badge {
  display: inline-flex;
  align-items: center;
  border-radius: var(--vesper-radius-4);
  @media (forced-colors: active) {
    border: var(--vesper-stroke-base) solid CanvasText;
    &:focus-visible {
      outline: var(--vesper-stroke-strong) solid CanvasText;
    }
  }
  @media not (forced-colors: active) {
    &:focus-visible {
      box-shadow: var(--vesper-shadow-focus-ring);
    }
  }
}

.vesper-badge-icon {
  display: flex;
}

.vesper-badge-sm {
  height: 20px;
  padding: 0 var(--vesper-spacing-1);
  .vesper-badge-icon {
    width: 12px;
    height: 12px;
  }
}

.vesper-badge-md {
  height: 24px;
  padding: 0 var(--vesper-spacing-2);
  .vesper-badge-icon {
    width: 14px;
    height: 14px;
  }
}

.vesper-badge-lg {
  height: 28px;
  padding: 0 var(--vesper-spacing-2);
  .vesper-badge-icon {
    width: 14px;
    height: 14px;
  }
}

.vesper-badge-text {
  padding: 0 var(--vesper-spacing-1);
}

.vesper-badge-contrast {
  @media not (forced-colors: active) {
    background: var(--vesper-background-inverse-primary);
    color: var(--vesper-text-inverse-primary);
  }
  @media (forced-colors: active) {
    background: CanvasText;
    color: Canvas;
    forced-color-adjust: none;
    &:focus-visible {
      outline-offset: 1px;
      outline-width: var(--vesper-stroke-base);
    }
  }
}
.vesper-badge-contrast-subtle {
  background: var(--vesper-tint-neutral-300);
  color: var(--vesper-text-primary);
}

.vesper-badge-accent {
  background: var(--vesper-background-accent-base);
  color: var(--vesper-text-primary);
}
.vesper-badge-accent-subtle {
  background: var(--vesper-background-accent-subtle);
  color: var(--vesper-text-accent);
}

.vesper-badge-success {
  background: var(--vesper-background-success-base);
  color: var(--vesper-text-inverse-primary);
}
.vesper-badge-success-subtle {
  background: var(--vesper-background-success-subtle);
  color: var(--vesper-text-success);
}

.vesper-badge-warning {
  background: var(--vesper-background-warning-base);
  color: var(--vesper-text-primary);
}
.vesper-badge-warning-subtle {
  background: var(--vesper-background-warning-subtle);
  color: var(--vesper-text-warning);
}

.vesper-badge-danger {
  background: var(--vesper-background-error-base);
  color: var(--vesper-text-inverse-primary);
}
.vesper-badge-danger-subtle {
  background: var(--vesper-background-error-subtle);
  color: var(--vesper-text-error);
}

.vesper-badge-info {
  background: var(--vesper-background-info-base);
  color: var(--vesper-text-inverse-primary);
}
.vesper-badge-info-subtle {
  background: var(--vesper-background-info-subtle);
  color: var(--vesper-text-info);
}

.vesper-badge-purple {
  background: var(--vesper-background-brand-purple-base);
  color: var(--vesper-text-inverse-primary);
}
.vesper-badge-purple-subtle {
  background: var(--vesper-background-brand-purple-subtle);
  color: var(--vesper-text-brand-purple);
}

.vesper-badge-mint {
  background: var(--vesper-background-brand-mint-base);
  color: var(--vesper-text-inverse-primary);
}
.vesper-badge-mint-subtle {
  background: var(--vesper-background-brand-mint-subtle);
  color: var(--vesper-text-brand-mint);
}

.vesper-badge-pink {
  background: var(--vesper-background-brand-pink-base);
  color: var(--vesper-text-inverse-primary);
}
.vesper-badge-pink-subtle {
  background: var(--vesper-background-brand-pink-subtle);
  color: var(--vesper-text-brand-pink);
}
