.vesper-switch {
  display: flex;
  align-items: center;
  gap: var(--vesper-spacing-2);
  &:not(:has(:disabled)) {
    cursor: pointer;
  }
}

.vesper-switch-pill {
  aspect-ratio: 2;
  background: var(--vesper-tint-neutral-400);
  overflow: hidden;
  padding: var(--vesper-spacing-half);
  &::after {
    content: "";
    display: block;
    aspect-ratio: 1;
    border-radius: 50%;
    height: 100%;
    transition: transform var(--vesper-transition-duration-fast) ease;
  }
  @media (forced-colors: active) {
    background: CanvasText;
    &::after {
      background: Canvas;
    }
  }
}

.vesper-switch-label {
  display: inline-flex;
  align-items: center;
  gap: var(--vesper-spacing-2);
  color: var(--vesper-text-primary);
}

.vesper-switch-input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
  &:not(:disabled) + .vesper-switch-pill {
    transition: background var(--vesper-transition-duration-fast) ease;
    &::after {
      box-shadow: var(--vesper-shadow-100);
    }
  }
  &:checked + .vesper-switch-pill {
    background: var(--vesper-background-accent-base);
    &::after {
      transform: translateX(calc(100% + var(--vesper-spacing-1)));
    }
    @media (forced-colors: active) {
      background: CanvasText;
    }
  }
  &:focus-visible + .vesper-switch-pill {
    box-shadow: var(--vesper-shadow-focus-ring);
    @media (forced-colors: active) {
      box-shadow: none;
      outline: var(--vesper-stroke-base) solid CanvasText;
      outline-offset: var(--vesper-spacing-micro);
    }
  }
  &:disabled + .vesper-switch-pill {
    background: var(--vesper-background-disabled);
    &::after {
      background: var(--vesper-background-secondary);
    }
    @media (forced-colors: active) {
      opacity: 0.35;
      background: CanvasText;
    }
  }
  & + .vesper-switch-pill::after {
    background: var(--vesper-background-primary);
  }
}

.vesper-switch-sm .vesper-switch-pill {
  height: 1rem;
  border-radius: 1rem;
}

.vesper-switch-md .vesper-switch-pill {
  height: 1.5rem;
  border-radius: 1.5rem;
}
