@media (prefers-reduced-motion) {
  :root {
    --vesper-transition-duration-fast: 0s !important;
    --vesper-transition-duration-default: 0s !important;
    --vesper-transition-duration-slow: 0s !important;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0s !important;
    transition-duration: 0s !important;
  }
}
