:root {
  --vesper-bg-dot-pattern-primary: var(--vesper-image-dot) repeat top
    var(--vesper-stone-0);
  --vesper-bg-dot-pattern-secondary: var(--vesper-image-dot) repeat top
    var(--vesper-stone-50);
  --vesper-bg-dot-pattern-tertiary: var(--vesper-image-dot) repeat top
    var(--vesper-stone-100);
  --vesper-bg-dot-pattern-inverse: var(--vesper-image-dot-inverse) repeat top
    var(--vesper-stone-900);
}
