:root {
  --vesper-color-static-black: #071614;
  --vesper-color-static-white: #f1f8f8;
  --vesper-color-transparent: transparent;
  --vesper-color-stone-0: #f8fcfb;
  --vesper-color-stone-50: #eef6f6;
  --vesper-color-stone-100: #e8f2f1;
  --vesper-color-stone-200: #dfecea;
  --vesper-color-stone-300: #d0e1e0;
  --vesper-color-stone-400: #bdd1cf;
  --vesper-color-stone-500: #a2b9b7;
  --vesper-color-stone-600: #718e8c;
  --vesper-color-stone-700: #51706d;
  --vesper-color-stone-800: #344b49;
  --vesper-color-stone-900: #050f0e;
  --vesper-color-teal-0: #f7fbfd;
  --vesper-color-teal-50: #e7f7fd;
  --vesper-color-teal-100: #d3eff8;
  --vesper-color-teal-200: #aae5f8;
  --vesper-color-teal-300: #8ad2ea;
  --vesper-color-teal-400: #5cbcdb;
  --vesper-color-teal-500: #32abd2;
  --vesper-color-teal-600: #1b8eb1;
  --vesper-color-teal-700: #176782;
  --vesper-color-teal-800: #144a5d;
  --vesper-color-teal-900: #0c2f3b;
  --vesper-color-purple-0: #f8f7fd;
  --vesper-color-purple-50: #efedfd;
  --vesper-color-purple-100: #dedafb;
  --vesper-color-purple-200: #c9c2fa;
  --vesper-color-purple-300: #a89eea;
  --vesper-color-purple-400: #7e71d0;
  --vesper-color-purple-500: #6458b6;
  --vesper-color-purple-600: #4d429a;
  --vesper-color-purple-700: #342b6e;
  --vesper-color-purple-800: #272150;
  --vesper-color-purple-900: #1d1b2d;
  --vesper-color-mint-0: #f1fdfb;
  --vesper-color-mint-50: #e3fcf9;
  --vesper-color-mint-100: #d2f4ef;
  --vesper-color-mint-200: #b6ede2;
  --vesper-color-mint-300: #7cdecc;
  --vesper-color-mint-400: #40bfa8;
  --vesper-color-mint-500: #29a38d;
  --vesper-color-mint-600: #227767;
  --vesper-color-mint-700: #13584b;
  --vesper-color-mint-800: #0f3d35;
  --vesper-color-mint-900: #112c26;
  --vesper-color-pink-0: #fdf7fb;
  --vesper-color-pink-50: #fdedf7;
  --vesper-color-pink-100: #fcd9ef;
  --vesper-color-pink-200: #ffc2e8;
  --vesper-color-pink-300: #f17ec5;
  --vesper-color-pink-400: #e557af;
  --vesper-color-pink-500: #be378a;
  --vesper-color-pink-600: #91306c;
  --vesper-color-pink-700: #6b2450;
  --vesper-color-pink-800: #441d35;
  --vesper-color-pink-900: #2e0f22;
  --vesper-color-yellow-0: #fff7e5;
  --vesper-color-yellow-50: #fff2d6;
  --vesper-color-yellow-100: #ffeabd;
  --vesper-color-yellow-200: #ffe0a3;
  --vesper-color-yellow-300: #ffca61;
  --vesper-color-yellow-400: #ffb71b;
  --vesper-color-yellow-500: #d99a12;
  --vesper-color-yellow-600: #986f16;
  --vesper-color-yellow-700: #6d5217;
  --vesper-color-yellow-800: #473715;
  --vesper-color-yellow-900: #2e2614;
  --vesper-color-green-0: #f1fdf8;
  --vesper-color-green-50: #e3fcf4;
  --vesper-color-green-100: #d2f4e9;
  --vesper-color-green-200: #b1ecd6;
  --vesper-color-green-300: #78ddb8;
  --vesper-color-green-400: #40bf90;
  --vesper-color-green-500: #29a376;
  --vesper-color-green-600: #227758;
  --vesper-color-green-700: #13583f;
  --vesper-color-green-800: #0f3d2c;
  --vesper-color-green-900: #112c21;
  --vesper-color-red-0: #feebe7;
  --vesper-color-red-50: #fcdfd9;
  --vesper-color-red-100: #fccac0;
  --vesper-color-red-200: #f99a86;
  --vesper-color-red-300: #f56447;
  --vesper-color-red-400: #ef3f1a;
  --vesper-color-red-500: #cb2c0b;
  --vesper-color-red-600: #9b2208;
  --vesper-color-red-700: #6e1d0c;
  --vesper-color-red-800: #531609;
  --vesper-color-red-900: #2f140e;
  --vesper-color-amber-0: #fff4e5;
  --vesper-color-amber-50: #ffedd6;
  --vesper-color-amber-100: #ffe4c2;
  --vesper-color-amber-200: #ffd4a3;
  --vesper-color-amber-300: #ffba6b;
  --vesper-color-amber-400: #ffa033;
  --vesper-color-amber-500: #ed881d;
  --vesper-color-amber-600: #a8610b;
  --vesper-color-amber-700: #8d5107;
  --vesper-color-amber-800: #523614;
  --vesper-color-amber-900: #35230d;
  --vesper-color-sky-0: #f5fbfe;
  --vesper-color-sky-50: #e5f5ff;
  --vesper-color-sky-100: #d0e9fb;
  --vesper-color-sky-200: #acd7f6;
  --vesper-color-sky-300: #7ebeed;
  --vesper-color-sky-400: #55aae7;
  --vesper-color-sky-500: #2375c7;
  --vesper-color-sky-600: #1059a2;
  --vesper-color-sky-700: #134272;
  --vesper-color-sky-800: #113355;
  --vesper-color-sky-900: #122130;
  --vesper-color-alpha-stone-0: rgba(28, 161, 157, 0.023);
  --vesper-color-alpha-stone-50: rgba(14, 129, 115, 0.043);
  --vesper-color-alpha-stone-100: rgba(19, 124, 99, 0.074);
  --vesper-color-alpha-stone-200: rgba(38, 126, 112, 0.125);
  --vesper-color-alpha-stone-300: rgba(15, 97, 87, 0.169);
  --vesper-color-alpha-stone-400: rgba(8, 78, 75, 0.255);
  --vesper-color-alpha-stone-500: rgba(3, 58, 56, 0.345);
  --vesper-color-alpha-stone-600: rgba(7, 60, 57, 0.572);
  --vesper-color-alpha-stone-700: rgba(17, 59, 55, 0.729);
  --vesper-color-alpha-stone-800: rgba(14, 42, 39, 0.839);
  --vesper-color-alpha-stone-900: rgba(0, 15, 15, 0.973);
  --vesper-color-alpha-contrast-0: transparent;
  --vesper-color-alpha-contrast-50: rgba(7, 22, 20, 0.05);
  --vesper-color-alpha-contrast-100: rgba(7, 22, 20, 0.1);
  --vesper-color-alpha-contrast-200: rgba(7, 22, 20, 0.2);
  --vesper-color-alpha-contrast-300: rgba(7, 22, 20, 0.3);
  --vesper-color-alpha-contrast-400: rgba(7, 22, 20, 0.4);
  --vesper-color-alpha-contrast-500: rgba(7, 22, 20, 0.5);
  --vesper-color-alpha-contrast-600: rgba(7, 22, 20, 0.6);
  --vesper-color-alpha-contrast-700: rgba(7, 22, 20, 0.7);
  --vesper-color-alpha-contrast-800: rgba(7, 22, 20, 0.8);
  --vesper-color-alpha-contrast-900: rgba(7, 22, 20, 0.9);
  --vesper-color-alpha-inverse-0: transparent;
  --vesper-color-alpha-inverse-50: rgba(241, 248, 248, 0.05);
  --vesper-color-alpha-inverse-100: rgba(241, 248, 248, 0.1);
  --vesper-color-alpha-inverse-200: rgba(241, 248, 248, 0.2);
  --vesper-color-alpha-inverse-300: rgba(241, 248, 248, 0.3);
  --vesper-color-alpha-inverse-400: rgba(241, 248, 248, 0.4);
  --vesper-color-alpha-inverse-500: rgba(241, 248, 248, 0.5);
  --vesper-color-alpha-inverse-600: rgba(241, 248, 248, 0.6);
  --vesper-color-alpha-inverse-700: rgba(241, 248, 248, 0.7);
  --vesper-color-alpha-inverse-800: rgba(241, 248, 248, 0.8);
  --vesper-color-alpha-inverse-900: rgba(241, 248, 248, 0.9);
  --vesper-color-alpha-black-0: transparent;
  --vesper-color-alpha-black-50: rgba(7, 22, 20, 0.05);
  --vesper-color-alpha-black-100: rgba(7, 22, 20, 0.1);
  --vesper-color-alpha-black-200: rgba(7, 22, 20, 0.2);
  --vesper-color-alpha-black-300: rgba(7, 22, 20, 0.3);
  --vesper-color-alpha-black-400: rgba(7, 22, 20, 0.4);
  --vesper-color-alpha-black-500: rgba(7, 22, 20, 0.5);
  --vesper-color-alpha-black-600: rgba(7, 22, 20, 0.6);
  --vesper-color-alpha-black-700: rgba(7, 22, 20, 0.7);
  --vesper-color-alpha-black-800: rgba(7, 22, 20, 0.8);
  --vesper-color-alpha-black-900: rgba(7, 22, 20, 0.9);
  --vesper-color-alpha-white-0: transparent;
  --vesper-color-alpha-white-50: rgba(241, 248, 248, 0.05);
  --vesper-color-alpha-white-100: rgba(241, 248, 248, 0.1);
  --vesper-color-alpha-white-200: rgba(241, 248, 248, 0.2);
  --vesper-color-alpha-white-300: rgba(241, 248, 248, 0.3);
  --vesper-color-alpha-white-400: rgba(241, 248, 248, 0.4);
  --vesper-color-alpha-white-500: rgba(241, 248, 248, 0.5);
  --vesper-color-alpha-white-600: rgba(241, 248, 248, 0.6);
  --vesper-color-alpha-white-700: rgba(241, 248, 248, 0.7);
  --vesper-color-alpha-white-800: rgba(241, 248, 248, 0.8);
  --vesper-color-alpha-white-900: rgba(241, 248, 248, 0.9);
}

@media (prefers-color-scheme: dark) {
  :root {
    --vesper-color-static-black: #071614;
    --vesper-color-static-white: #f1f8f8;
    --vesper-color-transparent: transparent;
    --vesper-color-stone-0: #050f0e;
    --vesper-color-stone-50: #0b1817;
    --vesper-color-stone-100: #13201e;
    --vesper-color-stone-200: #1b2826;
    --vesper-color-stone-300: #233431;
    --vesper-color-stone-400: #2d4340;
    --vesper-color-stone-500: #395651;
    --vesper-color-stone-600: #5e7d78;
    --vesper-color-stone-700: #7d9b97;
    --vesper-color-stone-800: #b3ccc8;
    --vesper-color-stone-900: #e7f0ee;
    --vesper-color-teal-0: #05181e;
    --vesper-color-teal-50: #0a2229;
    --vesper-color-teal-100: #0e303a;
    --vesper-color-teal-200: #073e4f;
    --vesper-color-teal-300: #0d4659;
    --vesper-color-teal-400: #0f546b;
    --vesper-color-teal-500: #136b86;
    --vesper-color-teal-600: #1a8fb2;
    --vesper-color-teal-700: #46afd2;
    --vesper-color-teal-800: #7dcde8;
    --vesper-color-teal-900: #a3e0f5;
    --vesper-color-purple-0: #0f0e1b;
    --vesper-color-purple-50: #141127;
    --vesper-color-purple-100: #1d1938;
    --vesper-color-purple-200: #27214a;
    --vesper-color-purple-300: #2f285d;
    --vesper-color-purple-400: #382f74;
    --vesper-color-purple-500: #5145a1;
    --vesper-color-purple-600: #7e71d0;
    --vesper-color-purple-700: #9c91e3;
    --vesper-color-purple-800: #b4a8ff;
    --vesper-color-purple-900: #cdc6fa;
    --vesper-color-mint-0: #041f19;
    --vesper-color-mint-50: #073128;
    --vesper-color-mint-100: #0b4137;
    --vesper-color-mint-200: #0b5144;
    --vesper-color-mint-300: #116959;
    --vesper-color-mint-400: #15937c;
    --vesper-color-mint-500: #1bbb9e;
    --vesper-color-mint-600: #39c6ac;
    --vesper-color-mint-700: #4ce5c9;
    --vesper-color-mint-800: #82edd9;
    --vesper-color-mint-900: #caf7f1;
    --vesper-color-pink-0: #1f0a17;
    --vesper-color-pink-50: #2e0f22;
    --vesper-color-pink-100: #3d152e;
    --vesper-color-pink-200: #491d38;
    --vesper-color-pink-300: #6b2450;
    --vesper-color-pink-400: #91306c;
    --vesper-color-pink-500: #be378a;
    --vesper-color-pink-600: #e34faa;
    --vesper-color-pink-700: #f17ec5;
    --vesper-color-pink-800: #ffc2e8;
    --vesper-color-pink-900: #fde2f3;
    --vesper-color-yellow-0: #211908;
    --vesper-color-yellow-50: #31260c;
    --vesper-color-yellow-100: #3f3112;
    --vesper-color-yellow-200: #534018;
    --vesper-color-yellow-300: #7a5c1a;
    --vesper-color-yellow-400: #9c7217;
    --vesper-color-yellow-500: #d09311;
    --vesper-color-yellow-600: #ffb71b;
    --vesper-color-yellow-700: #ffc757;
    --vesper-color-yellow-800: #ffd88a;
    --vesper-color-yellow-900: #ffeecc;
    --vesper-color-green-0: #041f15;
    --vesper-color-green-50: #073120;
    --vesper-color-green-100: #0b412e;
    --vesper-color-green-200: #0b5137;
    --vesper-color-green-300: #106043;
    --vesper-color-green-400: #128159;
    --vesper-color-green-500: #19ae77;
    --vesper-color-green-600: #38c28f;
    --vesper-color-green-700: #4ce5ad;
    --vesper-color-green-800: #82edc6;
    --vesper-color-green-900: #caf7e9;
    --vesper-color-red-0: #1d0f0c;
    --vesper-color-red-50: #2b130d;
    --vesper-color-red-100: #3d170f;
    --vesper-color-red-200: #5c180a;
    --vesper-color-red-300: #85230f;
    --vesper-color-red-400: #af290e;
    --vesper-color-red-500: #cb2c0b;
    --vesper-color-red-600: #f04b28;
    --vesper-color-red-700: #f37358;
    --vesper-color-red-800: #f99b86;
    --vesper-color-red-900: #fac6b7;
    --vesper-color-amber-0: #211608;
    --vesper-color-amber-50: #31210c;
    --vesper-color-amber-100: #432b0e;
    --vesper-color-amber-200: #523614;
    --vesper-color-amber-300: #8a530f;
    --vesper-color-amber-400: #bb690c;
    --vesper-color-amber-500: #ed881d;
    --vesper-color-amber-600: #ffa333;
    --vesper-color-amber-700: #ffb35c;
    --vesper-color-amber-800: #ffcf99;
    --vesper-color-amber-900: #ffe7cc;
    --vesper-color-sky-0: #09101b;
    --vesper-color-sky-50: #0f1b2d;
    --vesper-color-sky-100: #10243e;
    --vesper-color-sky-200: #092e53;
    --vesper-color-sky-300: #0f4d86;
    --vesper-color-sky-400: #135ea7;
    --vesper-color-sky-500: #1671c9;
    --vesper-color-sky-600: #0091ff;
    --vesper-color-sky-700: #33a3ff;
    --vesper-color-sky-800: #70b8ff;
    --vesper-color-sky-900: #c2e0ff;
    --vesper-color-alpha-stone-0: rgba(33, 60, 61, 0.03);
    --vesper-color-alpha-stone-50: rgba(154, 246, 244, 0.035);
    --vesper-color-alpha-stone-100: rgba(184, 244, 243, 0.075);
    --vesper-color-alpha-stone-200: rgba(204, 245, 241, 0.11);
    --vesper-color-alpha-stone-300: rgba(184, 245, 233, 0.161);
    --vesper-color-alpha-stone-400: rgba(168, 225, 217, 0.247);
    --vesper-color-alpha-stone-500: rgba(144, 213, 203, 0.357);
    --vesper-color-alpha-stone-600: rgba(195, 255, 247, 0.461);
    --vesper-color-alpha-stone-700: rgba(207, 252, 246, 0.591);
    --vesper-color-alpha-stone-800: rgba(212, 242, 237, 0.834);
    --vesper-color-alpha-stone-900: rgba(245, 255, 253, 0.937);
    --vesper-color-alpha-contrast-0: transparent;
    --vesper-color-alpha-contrast-50: rgba(241, 248, 248, 0.05);
    --vesper-color-alpha-contrast-100: rgba(241, 248, 248, 0.1);
    --vesper-color-alpha-contrast-200: rgba(241, 248, 248, 0.2);
    --vesper-color-alpha-contrast-300: rgba(241, 248, 248, 0.3);
    --vesper-color-alpha-contrast-400: rgba(241, 248, 248, 0.4);
    --vesper-color-alpha-contrast-500: rgba(241, 248, 248, 0.5);
    --vesper-color-alpha-contrast-600: rgba(241, 248, 248, 0.6);
    --vesper-color-alpha-contrast-700: rgba(241, 248, 248, 0.7);
    --vesper-color-alpha-contrast-800: rgba(241, 248, 248, 0.8);
    --vesper-color-alpha-contrast-900: rgba(241, 248, 248, 0.9);
    --vesper-color-alpha-inverse-0: transparent;
    --vesper-color-alpha-inverse-50: rgba(7, 22, 20, 0.05);
    --vesper-color-alpha-inverse-100: rgba(7, 22, 20, 0.1);
    --vesper-color-alpha-inverse-200: rgba(7, 22, 20, 0.2);
    --vesper-color-alpha-inverse-300: rgba(7, 22, 20, 0.3);
    --vesper-color-alpha-inverse-400: rgba(7, 22, 20, 0.4);
    --vesper-color-alpha-inverse-500: rgba(7, 22, 20, 0.5);
    --vesper-color-alpha-inverse-600: rgba(7, 22, 20, 0.6);
    --vesper-color-alpha-inverse-700: rgba(7, 22, 20, 0.7);
    --vesper-color-alpha-inverse-800: rgba(7, 22, 20, 0.8);
    --vesper-color-alpha-inverse-900: rgba(7, 22, 20, 0.9);
  }
}

html[data-vesper-theme="light"] {
  --vesper-color-static-black: #071614;
  --vesper-color-static-white: #f1f8f8;
  --vesper-color-transparent: transparent;
  --vesper-color-stone-0: #f8fcfb;
  --vesper-color-stone-50: #eef6f6;
  --vesper-color-stone-100: #e8f2f1;
  --vesper-color-stone-200: #dfecea;
  --vesper-color-stone-300: #d0e1e0;
  --vesper-color-stone-400: #bdd1cf;
  --vesper-color-stone-500: #a2b9b7;
  --vesper-color-stone-600: #718e8c;
  --vesper-color-stone-700: #51706d;
  --vesper-color-stone-800: #344b49;
  --vesper-color-stone-900: #050f0e;
  --vesper-color-teal-0: #f7fbfd;
  --vesper-color-teal-50: #e7f7fd;
  --vesper-color-teal-100: #d3eff8;
  --vesper-color-teal-200: #aae5f8;
  --vesper-color-teal-300: #8ad2ea;
  --vesper-color-teal-400: #5cbcdb;
  --vesper-color-teal-500: #32abd2;
  --vesper-color-teal-600: #1b8eb1;
  --vesper-color-teal-700: #176782;
  --vesper-color-teal-800: #144a5d;
  --vesper-color-teal-900: #0c2f3b;
  --vesper-color-purple-0: #f8f7fd;
  --vesper-color-purple-50: #efedfd;
  --vesper-color-purple-100: #dedafb;
  --vesper-color-purple-200: #c9c2fa;
  --vesper-color-purple-300: #a89eea;
  --vesper-color-purple-400: #7e71d0;
  --vesper-color-purple-500: #6458b6;
  --vesper-color-purple-600: #4d429a;
  --vesper-color-purple-700: #342b6e;
  --vesper-color-purple-800: #272150;
  --vesper-color-purple-900: #1d1b2d;
  --vesper-color-mint-0: #f1fdfb;
  --vesper-color-mint-50: #e3fcf9;
  --vesper-color-mint-100: #d2f4ef;
  --vesper-color-mint-200: #b6ede2;
  --vesper-color-mint-300: #7cdecc;
  --vesper-color-mint-400: #40bfa8;
  --vesper-color-mint-500: #29a38d;
  --vesper-color-mint-600: #227767;
  --vesper-color-mint-700: #13584b;
  --vesper-color-mint-800: #0f3d35;
  --vesper-color-mint-900: #112c26;
  --vesper-color-pink-0: #fdf7fb;
  --vesper-color-pink-50: #fdedf7;
  --vesper-color-pink-100: #fcd9ef;
  --vesper-color-pink-200: #ffc2e8;
  --vesper-color-pink-300: #f17ec5;
  --vesper-color-pink-400: #e557af;
  --vesper-color-pink-500: #be378a;
  --vesper-color-pink-600: #91306c;
  --vesper-color-pink-700: #6b2450;
  --vesper-color-pink-800: #441d35;
  --vesper-color-pink-900: #2e0f22;
  --vesper-color-yellow-0: #fff7e5;
  --vesper-color-yellow-50: #fff2d6;
  --vesper-color-yellow-100: #ffeabd;
  --vesper-color-yellow-200: #ffe0a3;
  --vesper-color-yellow-300: #ffca61;
  --vesper-color-yellow-400: #ffb71b;
  --vesper-color-yellow-500: #d99a12;
  --vesper-color-yellow-600: #986f16;
  --vesper-color-yellow-700: #6d5217;
  --vesper-color-yellow-800: #473715;
  --vesper-color-yellow-900: #2e2614;
  --vesper-color-green-0: #f1fdf8;
  --vesper-color-green-50: #e3fcf4;
  --vesper-color-green-100: #d2f4e9;
  --vesper-color-green-200: #b1ecd6;
  --vesper-color-green-300: #78ddb8;
  --vesper-color-green-400: #40bf90;
  --vesper-color-green-500: #29a376;
  --vesper-color-green-600: #227758;
  --vesper-color-green-700: #13583f;
  --vesper-color-green-800: #0f3d2c;
  --vesper-color-green-900: #112c21;
  --vesper-color-red-0: #feebe7;
  --vesper-color-red-50: #fcdfd9;
  --vesper-color-red-100: #fccac0;
  --vesper-color-red-200: #f99a86;
  --vesper-color-red-300: #f56447;
  --vesper-color-red-400: #ef3f1a;
  --vesper-color-red-500: #cb2c0b;
  --vesper-color-red-600: #9b2208;
  --vesper-color-red-700: #6e1d0c;
  --vesper-color-red-800: #531609;
  --vesper-color-red-900: #2f140e;
  --vesper-color-amber-0: #fff4e5;
  --vesper-color-amber-50: #ffedd6;
  --vesper-color-amber-100: #ffe4c2;
  --vesper-color-amber-200: #ffd4a3;
  --vesper-color-amber-300: #ffba6b;
  --vesper-color-amber-400: #ffa033;
  --vesper-color-amber-500: #ed881d;
  --vesper-color-amber-600: #a8610b;
  --vesper-color-amber-700: #8d5107;
  --vesper-color-amber-800: #523614;
  --vesper-color-amber-900: #35230d;
  --vesper-color-sky-0: #f5fbfe;
  --vesper-color-sky-50: #e5f5ff;
  --vesper-color-sky-100: #d0e9fb;
  --vesper-color-sky-200: #acd7f6;
  --vesper-color-sky-300: #7ebeed;
  --vesper-color-sky-400: #55aae7;
  --vesper-color-sky-500: #2375c7;
  --vesper-color-sky-600: #1059a2;
  --vesper-color-sky-700: #134272;
  --vesper-color-sky-800: #113355;
  --vesper-color-sky-900: #122130;
  --vesper-color-alpha-stone-0: rgba(28, 161, 157, 0.023);
  --vesper-color-alpha-stone-50: rgba(14, 129, 115, 0.043);
  --vesper-color-alpha-stone-100: rgba(19, 124, 99, 0.074);
  --vesper-color-alpha-stone-200: rgba(38, 126, 112, 0.125);
  --vesper-color-alpha-stone-300: rgba(15, 97, 87, 0.169);
  --vesper-color-alpha-stone-400: rgba(8, 78, 75, 0.255);
  --vesper-color-alpha-stone-500: rgba(3, 58, 56, 0.345);
  --vesper-color-alpha-stone-600: rgba(7, 60, 57, 0.572);
  --vesper-color-alpha-stone-700: rgba(17, 59, 55, 0.729);
  --vesper-color-alpha-stone-800: rgba(14, 42, 39, 0.839);
  --vesper-color-alpha-stone-900: rgba(0, 15, 15, 0.973);
  --vesper-color-alpha-contrast-0: transparent;
  --vesper-color-alpha-contrast-50: rgba(7, 22, 20, 0.05);
  --vesper-color-alpha-contrast-100: rgba(7, 22, 20, 0.1);
  --vesper-color-alpha-contrast-200: rgba(7, 22, 20, 0.2);
  --vesper-color-alpha-contrast-300: rgba(7, 22, 20, 0.3);
  --vesper-color-alpha-contrast-400: rgba(7, 22, 20, 0.4);
  --vesper-color-alpha-contrast-500: rgba(7, 22, 20, 0.5);
  --vesper-color-alpha-contrast-600: rgba(7, 22, 20, 0.6);
  --vesper-color-alpha-contrast-700: rgba(7, 22, 20, 0.7);
  --vesper-color-alpha-contrast-800: rgba(7, 22, 20, 0.8);
  --vesper-color-alpha-contrast-900: rgba(7, 22, 20, 0.9);
  --vesper-color-alpha-inverse-0: transparent;
  --vesper-color-alpha-inverse-50: rgba(241, 248, 248, 0.05);
  --vesper-color-alpha-inverse-100: rgba(241, 248, 248, 0.1);
  --vesper-color-alpha-inverse-200: rgba(241, 248, 248, 0.2);
  --vesper-color-alpha-inverse-300: rgba(241, 248, 248, 0.3);
  --vesper-color-alpha-inverse-400: rgba(241, 248, 248, 0.4);
  --vesper-color-alpha-inverse-500: rgba(241, 248, 248, 0.5);
  --vesper-color-alpha-inverse-600: rgba(241, 248, 248, 0.6);
  --vesper-color-alpha-inverse-700: rgba(241, 248, 248, 0.7);
  --vesper-color-alpha-inverse-800: rgba(241, 248, 248, 0.8);
  --vesper-color-alpha-inverse-900: rgba(241, 248, 248, 0.9);
}

html[data-vesper-theme="dark"] {
  --vesper-color-static-black: #071614;
  --vesper-color-static-white: #f1f8f8;
  --vesper-color-transparent: transparent;
  --vesper-color-stone-0: #050f0e;
  --vesper-color-stone-50: #0b1817;
  --vesper-color-stone-100: #13201e;
  --vesper-color-stone-200: #1b2826;
  --vesper-color-stone-300: #233431;
  --vesper-color-stone-400: #2d4340;
  --vesper-color-stone-500: #395651;
  --vesper-color-stone-600: #5e7d78;
  --vesper-color-stone-700: #7d9b97;
  --vesper-color-stone-800: #b3ccc8;
  --vesper-color-stone-900: #e7f0ee;
  --vesper-color-teal-0: #05181e;
  --vesper-color-teal-50: #0a2229;
  --vesper-color-teal-100: #0e303a;
  --vesper-color-teal-200: #073e4f;
  --vesper-color-teal-300: #0d4659;
  --vesper-color-teal-400: #0f546b;
  --vesper-color-teal-500: #136b86;
  --vesper-color-teal-600: #1a8fb2;
  --vesper-color-teal-700: #46afd2;
  --vesper-color-teal-800: #7dcde8;
  --vesper-color-teal-900: #a3e0f5;
  --vesper-color-purple-0: #0f0e1b;
  --vesper-color-purple-50: #141127;
  --vesper-color-purple-100: #1d1938;
  --vesper-color-purple-200: #27214a;
  --vesper-color-purple-300: #2f285d;
  --vesper-color-purple-400: #382f74;
  --vesper-color-purple-500: #5145a1;
  --vesper-color-purple-600: #7e71d0;
  --vesper-color-purple-700: #9c91e3;
  --vesper-color-purple-800: #b4a8ff;
  --vesper-color-purple-900: #cdc6fa;
  --vesper-color-mint-0: #041f19;
  --vesper-color-mint-50: #073128;
  --vesper-color-mint-100: #0b4137;
  --vesper-color-mint-200: #0b5144;
  --vesper-color-mint-300: #116959;
  --vesper-color-mint-400: #15937c;
  --vesper-color-mint-500: #1bbb9e;
  --vesper-color-mint-600: #39c6ac;
  --vesper-color-mint-700: #4ce5c9;
  --vesper-color-mint-800: #82edd9;
  --vesper-color-mint-900: #caf7f1;
  --vesper-color-pink-0: #1f0a17;
  --vesper-color-pink-50: #2e0f22;
  --vesper-color-pink-100: #3d152e;
  --vesper-color-pink-200: #491d38;
  --vesper-color-pink-300: #6b2450;
  --vesper-color-pink-400: #91306c;
  --vesper-color-pink-500: #be378a;
  --vesper-color-pink-600: #e34faa;
  --vesper-color-pink-700: #f17ec5;
  --vesper-color-pink-800: #ffc2e8;
  --vesper-color-pink-900: #fde2f3;
  --vesper-color-yellow-0: #211908;
  --vesper-color-yellow-50: #31260c;
  --vesper-color-yellow-100: #3f3112;
  --vesper-color-yellow-200: #534018;
  --vesper-color-yellow-300: #7a5c1a;
  --vesper-color-yellow-400: #9c7217;
  --vesper-color-yellow-500: #d09311;
  --vesper-color-yellow-600: #ffb71b;
  --vesper-color-yellow-700: #ffc757;
  --vesper-color-yellow-800: #ffd88a;
  --vesper-color-yellow-900: #ffeecc;
  --vesper-color-green-0: #041f15;
  --vesper-color-green-50: #073120;
  --vesper-color-green-100: #0b412e;
  --vesper-color-green-200: #0b5137;
  --vesper-color-green-300: #106043;
  --vesper-color-green-400: #128159;
  --vesper-color-green-500: #19ae77;
  --vesper-color-green-600: #38c28f;
  --vesper-color-green-700: #4ce5ad;
  --vesper-color-green-800: #82edc6;
  --vesper-color-green-900: #caf7e9;
  --vesper-color-red-0: #1d0f0c;
  --vesper-color-red-50: #2b130d;
  --vesper-color-red-100: #3d170f;
  --vesper-color-red-200: #5c180a;
  --vesper-color-red-300: #85230f;
  --vesper-color-red-400: #af290e;
  --vesper-color-red-500: #cb2c0b;
  --vesper-color-red-600: #f04b28;
  --vesper-color-red-700: #f37358;
  --vesper-color-red-800: #f99b86;
  --vesper-color-red-900: #fac6b7;
  --vesper-color-amber-0: #211608;
  --vesper-color-amber-50: #31210c;
  --vesper-color-amber-100: #432b0e;
  --vesper-color-amber-200: #523614;
  --vesper-color-amber-300: #8a530f;
  --vesper-color-amber-400: #bb690c;
  --vesper-color-amber-500: #ed881d;
  --vesper-color-amber-600: #ffa333;
  --vesper-color-amber-700: #ffb35c;
  --vesper-color-amber-800: #ffcf99;
  --vesper-color-amber-900: #ffe7cc;
  --vesper-color-sky-0: #09101b;
  --vesper-color-sky-50: #0f1b2d;
  --vesper-color-sky-100: #10243e;
  --vesper-color-sky-200: #092e53;
  --vesper-color-sky-300: #0f4d86;
  --vesper-color-sky-400: #135ea7;
  --vesper-color-sky-500: #1671c9;
  --vesper-color-sky-600: #0091ff;
  --vesper-color-sky-700: #33a3ff;
  --vesper-color-sky-800: #70b8ff;
  --vesper-color-sky-900: #c2e0ff;
  --vesper-color-alpha-stone-0: rgba(33, 60, 61, 0.03);
  --vesper-color-alpha-stone-50: rgba(154, 246, 244, 0.035);
  --vesper-color-alpha-stone-100: rgba(184, 244, 243, 0.075);
  --vesper-color-alpha-stone-200: rgba(204, 245, 241, 0.11);
  --vesper-color-alpha-stone-300: rgba(184, 245, 233, 0.161);
  --vesper-color-alpha-stone-400: rgba(168, 225, 217, 0.247);
  --vesper-color-alpha-stone-500: rgba(144, 213, 203, 0.357);
  --vesper-color-alpha-stone-600: rgba(195, 255, 247, 0.461);
  --vesper-color-alpha-stone-700: rgba(207, 252, 246, 0.591);
  --vesper-color-alpha-stone-800: rgba(212, 242, 237, 0.834);
  --vesper-color-alpha-stone-900: rgba(245, 255, 253, 0.937);
  --vesper-color-alpha-contrast-0: transparent;
  --vesper-color-alpha-contrast-50: rgba(241, 248, 248, 0.05);
  --vesper-color-alpha-contrast-100: rgba(241, 248, 248, 0.1);
  --vesper-color-alpha-contrast-200: rgba(241, 248, 248, 0.2);
  --vesper-color-alpha-contrast-300: rgba(241, 248, 248, 0.3);
  --vesper-color-alpha-contrast-400: rgba(241, 248, 248, 0.4);
  --vesper-color-alpha-contrast-500: rgba(241, 248, 248, 0.5);
  --vesper-color-alpha-contrast-600: rgba(241, 248, 248, 0.6);
  --vesper-color-alpha-contrast-700: rgba(241, 248, 248, 0.7);
  --vesper-color-alpha-contrast-800: rgba(241, 248, 248, 0.8);
  --vesper-color-alpha-contrast-900: rgba(241, 248, 248, 0.9);
  --vesper-color-alpha-inverse-0: transparent;
  --vesper-color-alpha-inverse-50: rgba(7, 22, 20, 0.05);
  --vesper-color-alpha-inverse-100: rgba(7, 22, 20, 0.1);
  --vesper-color-alpha-inverse-200: rgba(7, 22, 20, 0.2);
  --vesper-color-alpha-inverse-300: rgba(7, 22, 20, 0.3);
  --vesper-color-alpha-inverse-400: rgba(7, 22, 20, 0.4);
  --vesper-color-alpha-inverse-500: rgba(7, 22, 20, 0.5);
  --vesper-color-alpha-inverse-600: rgba(7, 22, 20, 0.6);
  --vesper-color-alpha-inverse-700: rgba(7, 22, 20, 0.7);
  --vesper-color-alpha-inverse-800: rgba(7, 22, 20, 0.8);
  --vesper-color-alpha-inverse-900: rgba(7, 22, 20, 0.9);
}

/* semantic color tokens */
:root {
  --vesper-color-background-primary: var(--vesper-color-stone-0);
  --vesper-color-background-secondary: var(--vesper-color-stone-50);
  --vesper-color-background-tertiary: var(--vesper-color-stone-100);
  --vesper-color-background-disabled: var(--vesper-color-alpha-stone-50);
  --vesper-color-background-inverse-primary: var(
    --vesper-color-alpha-stone-900
  );
  --vesper-color-background-inverse-secondary: var(
    --vesper-color-alpha-stone-800
  );
  --vesper-color-background-inverse-disabled: var(
    --vesper-color-alpha-inverse-50
  );
  --vesper-color-background-accent-subtle: var(--vesper-color-teal-50);
  --vesper-color-background-accent-base: var(--vesper-color-teal-400);
  --vesper-color-background-success-subtle: var(--vesper-color-green-50);
  --vesper-color-background-success-base: var(--vesper-color-green-600);
  --vesper-color-background-warning-subtle: var(--vesper-color-amber-0);
  --vesper-color-background-warning-base: var(--vesper-color-amber-600);
  --vesper-color-background-error-subtle: var(--vesper-color-red-0);
  --vesper-color-background-error-base: var(--vesper-color-red-500);
  --vesper-color-background-info-subtle: var(--vesper-color-sky-50);
  --vesper-color-background-info-base: var(--vesper-color-sky-600);
  --vesper-color-background-static-white: var(--vesper-color-static-white);
  --vesper-color-background-static-black: var(--vesper-color-static-black);
  --vesper-color-background-brand-purple-subtle: var(--vesper-color-purple-100);
  --vesper-color-background-brand-purple-base: var(--vesper-color-purple-600);
  --vesper-color-background-brand-mint-subtle: var(--vesper-color-mint-50);
  --vesper-color-background-brand-mint-base: var(--vesper-color-mint-600);
  --vesper-color-background-brand-pink-subtle: var(--vesper-color-pink-50);
  --vesper-color-background-brand-pink-base: var(--vesper-color-pink-600);
  --vesper-color-background-brand-yellow-subtle: var(--vesper-color-yellow-50);
  --vesper-color-background-brand-yellow-base: var(--vesper-color-yellow-400);
  --vesper-color-text-primary: var(--vesper-color-stone-900);
  --vesper-color-text-secondary: var(--vesper-color-stone-800);
  --vesper-color-text-tertiary: var(--vesper-color-stone-700);
  --vesper-color-text-disabled: var(--vesper-color-alpha-stone-500);
  --vesper-color-text-inverse-primary: var(--vesper-color-stone-0);
  --vesper-color-text-inverse-secondary: var(--vesper-color-stone-300);
  --vesper-color-text-inverse-tertiary: var(--vesper-color-stone-500);
  --vesper-color-text-alpha-disabled: var(--vesper-color-alpha-inverse-300);
  --vesper-color-text-on-color: var(--vesper-color-static-white);
  --vesper-color-text-accent: var(--vesper-color-teal-700);
  --vesper-color-text-success: var(--vesper-color-mint-600);
  --vesper-color-text-warning: var(--vesper-color-amber-700);
  --vesper-color-text-error: var(--vesper-color-red-600);
  --vesper-color-text-info: var(--vesper-color-sky-600);
  --vesper-color-text-static-black: var(--vesper-color-static-black);
  --vesper-color-text-static-white: var(--vesper-color-static-white);
  --vesper-color-text-link-default: var(--vesper-color-teal-700);
  --vesper-color-text-link-hover: var(--vesper-color-teal-600);
  --vesper-color-text-link-visited: var(--vesper-color-teal-800);
  --vesper-color-text-link-disabled: var(--vesper-color-alpha-stone-400);
  --vesper-color-text-brand-purple: var(--vesper-color-purple-700);
  --vesper-color-text-brand-mint: var(--vesper-color-mint-600);
  --vesper-color-text-brand-pink: var(--vesper-color-pink-600);
  --vesper-color-text-brand-yellow: var(--vesper-color-yellow-600);
  --vesper-color-icon-primary: var(--vesper-color-stone-900);
  --vesper-color-icon-secondary: var(--vesper-color-stone-800);
  --vesper-color-icon-tertiary: var(--vesper-color-stone-700);
  --vesper-color-icon-disabled: var(--vesper-color-alpha-stone-500);
  --vesper-color-icon-inverse-primary: var(--vesper-color-stone-0);
  --vesper-color-icon-inverse-secondary: var(--vesper-color-stone-300);
  --vesper-color-icon-inverse-tertiary: var(--vesper-color-stone-500);
  --vesper-color-icon-inverse-disabled: var(--vesper-color-alpha-inverse-300);
  --vesper-color-icon-on-color: var(--vesper-color-static-white);
  --vesper-color-icon-accent: var(--vesper-color-teal-700);
  --vesper-color-icon-success: var(--vesper-color-mint-600);
  --vesper-color-icon-warning: var(--vesper-color-amber-700);
  --vesper-color-icon-error: var(--vesper-color-red-600);
  --vesper-color-icon-info: var(--vesper-color-sky-600);
  --vesper-color-icon-static-black: var(--vesper-color-static-black);
  --vesper-color-icon-static-white: var(--vesper-color-static-white);
  --vesper-color-icon-brand-purple: var(--vesper-color-purple-700);
  --vesper-color-icon-brand-mint: var(--vesper-color-mint-600);
  --vesper-color-icon-brand-pink: var(--vesper-color-pink-600);
  --vesper-color-icon-brand-yellow: var(--vesper-color-yellow-600);
  --vesper-color-border-primary: var(--vesper-color-stone-400);
  --vesper-color-border-secondary: var(--vesper-color-stone-300);
  --vesper-color-border-tertiary: var(--vesper-color-stone-200);
  --vesper-color-border-strong: var(--vesper-color-stone-900);
  --vesper-color-border-disabled: var(--vesper-color-alpha-stone-200);
  --vesper-color-border-focus: var(--vesper-color-teal-200);
  --vesper-color-border-inverse-primary: var(--vesper-color-stone-400);
  --vesper-color-border-inverse-secondary: var(--vesper-color-stone-600);
  --vesper-color-border-inverse-strong: var(--vesper-color-stone-0);
  --vesper-color-border-inverse-disabled: var(--vesper-color-alpha-inverse-100);
  --vesper-color-border-inverse-focus: var(--vesper-color-teal-500);
  --vesper-color-border-static-white: var(--vesper-color-static-white);
  --vesper-color-border-static-black: var(--vesper-color-static-black);
  --vesper-color-border-accent-subtle: var(--vesper-color-teal-200);
  --vesper-color-border-accent-base: var(--vesper-color-teal-600);
  --vesper-color-border-success-subtle: var(--vesper-color-green-200);
  --vesper-color-border-success-base: var(--vesper-color-green-500);
  --vesper-color-border-warning-subtle: var(--vesper-color-amber-200);
  --vesper-color-border-warning-base: var(--vesper-color-amber-500);
  --vesper-color-border-error-subtle: var(--vesper-color-red-200);
  --vesper-color-border-error-base: var(--vesper-color-red-500);
  --vesper-color-border-info-subtle: var(--vesper-color-sky-200);
  --vesper-color-border-info-base: var(--vesper-color-sky-500);
  --vesper-color-border-brand-purple-subtle: var(--vesper-color-purple-200);
  --vesper-color-border-brand-purple-base: var(--vesper-color-purple-500);
  --vesper-color-border-brand-mint-subtle: var(--vesper-color-mint-200);
  --vesper-color-border-brand-mint-base: var(--vesper-color-mint-500);
  --vesper-color-border-brand-pink-subtle: var(--vesper-color-pink-200);
  --vesper-color-border-brand-pink-base: var(--vesper-color-pink-500);
  --vesper-color-border-brand-yellow-subtle: var(--vesper-color-yellow-200);
  --vesper-color-border-brand-yellow-base: var(--vesper-color-yellow-500);
  --vesper-color-scrim-contrast-subtle: var(--vesper-color-alpha-black-300);
  --vesper-color-scrim-contrast-base: var(--vesper-color-alpha-black-600);
  --vesper-color-scrim-inverse-subtle: var(--vesper-color-alpha-white-300);
  --vesper-color-scrim-inverse-base: var(--vesper-color-alpha-white-600);
  --vesper-color-state-neutral-hover: var(--vesper-color-alpha-stone-50);
  --vesper-color-state-neutral-active: var(--vesper-color-alpha-stone-100);
  --vesper-color-state-contrast-hover: var(--vesper-color-alpha-contrast-50);
  --vesper-color-state-contrast-active: var(--vesper-color-alpha-contrast-100);
  --vesper-color-state-inverse-hover: var(--vesper-color-alpha-inverse-100);
  --vesper-color-state-inverse-active: var(--vesper-color-alpha-inverse-200);
  --vesper-color-tint-neutral-100: var(--vesper-color-alpha-stone-50);
  --vesper-color-tint-neutral-200: var(--vesper-color-alpha-stone-100);
  --vesper-color-tint-neutral-300: var(--vesper-color-alpha-stone-200);
  --vesper-color-tint-neutral-400: var(--vesper-color-alpha-stone-300);
  --vesper-color-tint-contrast-100: var(--vesper-color-alpha-contrast-50);
  --vesper-color-tint-contrast-200: var(--vesper-color-alpha-contrast-100);
  --vesper-color-tint-contrast-300: var(--vesper-color-alpha-contrast-200);
  --vesper-color-tint-contrast-400: var(--vesper-color-alpha-contrast-300);
  --vesper-color-tint-inverse-100: var(--vesper-color-alpha-inverse-300);
  --vesper-color-tint-inverse-200: var(--vesper-color-alpha-inverse-500);
  --vesper-color-tint-inverse-300: var(--vesper-color-alpha-inverse-700);
  --vesper-color-tint-inverse-400: var(--vesper-color-alpha-inverse-800);
}
