:root {
  --vesper-static-black: #071614;
  --vesper-static-white: #f1f8f8;
  --vesper-transparent: transparent;
  --vesper-stone-0: #f1f8f8;
  --vesper-stone-50: #e5f2f1;
  --vesper-stone-100: #d8eae8;
  --vesper-stone-200: #d0e2df;
  --vesper-stone-300: #c7d9d8;
  --vesper-stone-400: #b3c5c3;
  --vesper-stone-500: #9eb2b0;
  --vesper-stone-600: #678583;
  --vesper-stone-700: #415e5b;
  --vesper-stone-800: #293d3b;
  --vesper-stone-900: #092221;
  --vesper-teal-0: #eff8fb;
  --vesper-teal-50: #e2f3f9;
  --vesper-teal-100: #caecf7;
  --vesper-teal-200: #a1e2f7;
  --vesper-teal-300: #8ad2ea;
  --vesper-teal-400: #5cbcdb;
  --vesper-teal-500: #32abd2;
  --vesper-teal-600: #1b8eb1;
  --vesper-teal-700: #176782;
  --vesper-teal-800: #144a5d;
  --vesper-teal-900: #0c2f3b;
  --vesper-purple-0: #f8f7fd;
  --vesper-purple-50: #efedfd;
  --vesper-purple-100: #dad5fb;
  --vesper-purple-200: #c0b7f9;
  --vesper-purple-300: #a196e9;
  --vesper-purple-400: #8074cd;
  --vesper-purple-500: #6458b6;
  --vesper-purple-600: #4d429a;
  --vesper-purple-700: #342b6e;
  --vesper-purple-800: #272150;
  --vesper-purple-900: #1d1b2d;
  --vesper-mint-0: #f1fdfb;
  --vesper-mint-50: #dffbf8;
  --vesper-mint-100: #cef3ee;
  --vesper-mint-200: #a5e9dc;
  --vesper-mint-300: #78ddcb;
  --vesper-mint-400: #40bfa8;
  --vesper-mint-500: #29a38d;
  --vesper-mint-600: #227767;
  --vesper-mint-700: #13584b;
  --vesper-mint-800: #0f3d35;
  --vesper-mint-900: #112c26;
  --vesper-pink-0: #fdf7fb;
  --vesper-pink-50: #fdedf7;
  --vesper-pink-100: #fccfeb;
  --vesper-pink-200: #ffade0;
  --vesper-pink-300: #f17ec5;
  --vesper-pink-400: #e557af;
  --vesper-pink-500: #be378a;
  --vesper-pink-600: #91306c;
  --vesper-pink-700: #6b2450;
  --vesper-pink-800: #441d35;
  --vesper-pink-900: #2e0f22;
  --vesper-yellow-0: #fffcf5;
  --vesper-yellow-50: #fff5e0;
  --vesper-yellow-100: #ffebc2;
  --vesper-yellow-200: #ffd88a;
  --vesper-yellow-300: #ffc757;
  --vesper-yellow-400: #ffb71b;
  --vesper-yellow-500: #d99a12;
  --vesper-yellow-600: #986f16;
  --vesper-yellow-700: #6d5217;
  --vesper-yellow-800: #473715;
  --vesper-yellow-900: #2e2614;
  --vesper-green-0: #f1fdf8;
  --vesper-green-50: #dffbf2;
  --vesper-green-100: #cef3e7;
  --vesper-green-200: #a5e9d0;
  --vesper-green-300: #78ddb8;
  --vesper-green-400: #40bf90;
  --vesper-green-500: #29a376;
  --vesper-green-600: #227758;
  --vesper-green-700: #13583f;
  --vesper-green-800: #0f3d2c;
  --vesper-green-900: #112c21;
  --vesper-red-0: #fef3f0;
  --vesper-red-50: #fde7e2;
  --vesper-red-100: #fbcfc6;
  --vesper-red-200: #faad9e;
  --vesper-red-300: #f88d77;
  --vesper-red-400: #f45434;
  --vesper-red-500: #d93c1c;
  --vesper-red-600: #b3341a;
  --vesper-red-700: #7c3627;
  --vesper-red-800: #523028;
  --vesper-red-900: #2c1a16;
  --vesper-amber-0: #fffaf5;
  --vesper-amber-50: #fff1e0;
  --vesper-amber-100: #ffe4c2;
  --vesper-amber-200: #ffc88a;
  --vesper-amber-300: #ffb057;
  --vesper-amber-400: #ff951b;
  --vesper-amber-500: #d97912;
  --vesper-amber-600: #985d16;
  --vesper-amber-700: #6d4717;
  --vesper-amber-800: #473015;
  --vesper-amber-900: #2e2214;
  --vesper-sky-0: #f0f9fe;
  --vesper-sky-50: #e0f3ff;
  --vesper-sky-100: #c2e3fa;
  --vesper-sky-200: #9acef4;
  --vesper-sky-300: #6cb5ea;
  --vesper-sky-400: #3b9de3;
  --vesper-sky-500: #2270bf;
  --vesper-sky-600: #0f5499;
  --vesper-sky-700: #1a4066;
  --vesper-sky-800: #1a3046;
  --vesper-sky-900: #122130;
  --vesper-alpha-stone-0: rgba(28, 161, 157, 0.023);
  --vesper-alpha-stone-50: rgba(14, 129, 115, 0.043);
  --vesper-alpha-stone-100: rgba(26, 116, 95, 0.104);
  --vesper-alpha-stone-200: rgba(20, 92, 81, 0.125);
  --vesper-alpha-stone-300: rgba(16, 76, 69, 0.169);
  --vesper-alpha-stone-400: rgba(1, 48, 46, 0.255);
  --vesper-alpha-stone-500: rgba(3, 46, 44, 0.345);
  --vesper-alpha-stone-600: rgba(0, 48, 46, 0.572);
  --vesper-alpha-stone-700: rgba(0, 36, 32, 0.729);
  --vesper-alpha-stone-800: rgba(0, 26, 23, 0.839);
  --vesper-alpha-stone-900: rgba(0, 30, 29, 0.973);
  --vesper-alpha-contrast-0: transparent;
  --vesper-alpha-contrast-50: rgba(7, 22, 20, 0.05);
  --vesper-alpha-contrast-100: rgba(7, 22, 20, 0.1);
  --vesper-alpha-contrast-200: rgba(7, 22, 20, 0.2);
  --vesper-alpha-contrast-300: rgba(7, 22, 20, 0.3);
  --vesper-alpha-contrast-400: rgba(7, 22, 20, 0.4);
  --vesper-alpha-contrast-500: rgba(7, 22, 20, 0.5);
  --vesper-alpha-contrast-600: rgba(7, 22, 20, 0.6);
  --vesper-alpha-contrast-700: rgba(7, 22, 20, 0.7);
  --vesper-alpha-contrast-800: rgba(7, 22, 20, 0.8);
  --vesper-alpha-contrast-900: rgba(7, 22, 20, 0.9);
  --vesper-alpha-inverse-0: transparent;
  --vesper-alpha-inverse-50: rgba(241, 248, 248, 0.05);
  --vesper-alpha-inverse-100: rgba(241, 248, 248, 0.1);
  --vesper-alpha-inverse-200: rgba(241, 248, 248, 0.2);
  --vesper-alpha-inverse-300: rgba(241, 248, 248, 0.3);
  --vesper-alpha-inverse-400: rgba(241, 248, 248, 0.4);
  --vesper-alpha-inverse-500: rgba(241, 248, 248, 0.5);
  --vesper-alpha-inverse-600: rgba(241, 248, 248, 0.6);
  --vesper-alpha-inverse-700: rgba(241, 248, 248, 0.7);
  --vesper-alpha-inverse-800: rgba(241, 248, 248, 0.8);
  --vesper-alpha-inverse-900: rgba(241, 248, 248, 0.9);
}

@media (prefers-color-scheme: dark) {
  :root {
    --vesper-static-black: #071614;
    --vesper-static-white: #f1f8f8;
    --vesper-transparent: transparent;
    --vesper-stone-0: #071614;
    --vesper-stone-50: #0f1d1b;
    --vesper-stone-100: #172624;
    --vesper-stone-200: #1f2d2b;
    --vesper-stone-300: #263634;
    --vesper-stone-400: #344d49;
    --vesper-stone-500: #486762;
    --vesper-stone-600: #60807b;
    --vesper-stone-700: #7a9994;
    --vesper-stone-800: #c2d6d3;
    --vesper-stone-900: #e7f0ee;
    --vesper-teal-0: #0a161a;
    --vesper-teal-50: #0e2025;
    --vesper-teal-100: #0d2c35;
    --vesper-teal-200: #073a4a;
    --vesper-teal-300: #0f4557;
    --vesper-teal-400: #12647d;
    --vesper-teal-500: #157693;
    --vesper-teal-600: #4eb3d4;
    --vesper-teal-700: #6cc7e5;
    --vesper-teal-800: #a3e0f5;
    --vesper-teal-900: #c8edf9;
    --vesper-purple-0: #0f0e1b;
    --vesper-purple-50: #171528;
    --vesper-purple-100: #211c3f;
    --vesper-purple-200: #27214a;
    --vesper-purple-300: #2f285d;
    --vesper-purple-400: #382f74;
    --vesper-purple-500: #5145a1;
    --vesper-purple-600: #7b70c2;
    --vesper-purple-700: #998fdc;
    --vesper-purple-800: #bdb2ff;
    --vesper-purple-900: #d6d0fb;
    --vesper-mint-0: #041f19;
    --vesper-mint-50: #073128;
    --vesper-mint-100: #0b4137;
    --vesper-mint-200: #0b5144;
    --vesper-mint-300: #116959;
    --vesper-mint-400: #15937c;
    --vesper-mint-500: #1bbb9e;
    --vesper-mint-600: #39c6ac;
    --vesper-mint-700: #4ce5c9;
    --vesper-mint-800: #82edd9;
    --vesper-mint-900: #caf7f1;
    --vesper-pink-0: #1f0a17;
    --vesper-pink-50: #2e0f22;
    --vesper-pink-100: #3d152e;
    --vesper-pink-200: #491d38;
    --vesper-pink-300: #6b2450;
    --vesper-pink-400: #91306c;
    --vesper-pink-500: #be378a;
    --vesper-pink-600: #e34faa;
    --vesper-pink-700: #f17ec5;
    --vesper-pink-800: #ffc2e8;
    --vesper-pink-900: #fde2f3;
    --vesper-yellow-0: #211908;
    --vesper-yellow-50: #31260c;
    --vesper-yellow-100: #3f3112;
    --vesper-yellow-200: #534018;
    --vesper-yellow-300: #7a5c1a;
    --vesper-yellow-400: #9c7217;
    --vesper-yellow-500: #d09311;
    --vesper-yellow-600: #ffb71b;
    --vesper-yellow-700: #ffc757;
    --vesper-yellow-800: #ffd88a;
    --vesper-yellow-900: #ffeecc;
    --vesper-green-0: #041f15;
    --vesper-green-50: #073120;
    --vesper-green-100: #0b412e;
    --vesper-green-200: #0b5137;
    --vesper-green-300: #116949;
    --vesper-green-400: #159365;
    --vesper-green-500: #1bbb81;
    --vesper-green-600: #39c692;
    --vesper-green-700: #4ce5ad;
    --vesper-green-800: #82edc6;
    --vesper-green-900: #caf7e9;
    --vesper-red-0: #1d0f0c;
    --vesper-red-50: #2c1611;
    --vesper-red-100: #3d1b14;
    --vesper-red-200: #521f14;
    --vesper-red-300: #7a2a1a;
    --vesper-red-400: #973420;
    --vesper-red-500: #d43b1c;
    --vesper-red-600: #e44e2f;
    --vesper-red-700: #f37359;
    --vesper-red-800: #f5b2a3;
    --vesper-red-900: #fde8e2;
    --vesper-amber-0: #211608;
    --vesper-amber-50: #31210c;
    --vesper-amber-100: #3f2b12;
    --vesper-amber-200: #533818;
    --vesper-amber-300: #7a4f1a;
    --vesper-amber-400: #9c5e17;
    --vesper-amber-500: #d07a11;
    --vesper-amber-600: #ff991b;
    --vesper-amber-700: #ffb057;
    --vesper-amber-800: #ffc88a;
    --vesper-amber-900: #ffe7cc;
    --vesper-sky-0: #09101b;
    --vesper-sky-50: #0f1b2d;
    --vesper-sky-100: #10243e;
    --vesper-sky-200: #092e53;
    --vesper-sky-300: #0f4d86;
    --vesper-sky-400: #135ea7;
    --vesper-sky-500: #1671c9;
    --vesper-sky-600: #0091ff;
    --vesper-sky-700: #33a3ff;
    --vesper-sky-800: #70b8ff;
    --vesper-sky-900: #c2e0ff;
    --vesper-alpha-stone-0: rgba(33, 60, 61, 0.03);
    --vesper-alpha-stone-50: rgba(154, 246, 244, 0.035);
    --vesper-alpha-stone-100: rgba(184, 244, 243, 0.075);
    --vesper-alpha-stone-200: rgba(204, 245, 241, 0.11);
    --vesper-alpha-stone-300: rgba(215, 249, 242, 0.141);
    --vesper-alpha-stone-400: rgba(174, 254, 244, 0.247);
    --vesper-alpha-stone-500: rgba(180, 255, 244, 0.357);
    --vesper-alpha-stone-600: rgba(195, 255, 247, 0.461);
    --vesper-alpha-stone-700: rgba(206, 255, 248, 0.561);
    --vesper-alpha-stone-800: rgba(231, 254, 250, 0.834);
    --vesper-alpha-stone-900: rgba(245, 255, 253, 0.937);
    --vesper-alpha-contrast-0: transparent;
    --vesper-alpha-contrast-50: rgba(241, 248, 248, 0.05);
    --vesper-alpha-contrast-100: rgba(241, 248, 248, 0.1);
    --vesper-alpha-contrast-200: rgba(241, 248, 248, 0.2);
    --vesper-alpha-contrast-300: rgba(241, 248, 248, 0.3);
    --vesper-alpha-contrast-400: rgba(241, 248, 248, 0.4);
    --vesper-alpha-contrast-500: rgba(241, 248, 248, 0.5);
    --vesper-alpha-contrast-600: rgba(241, 248, 248, 0.6);
    --vesper-alpha-contrast-700: rgba(241, 248, 248, 0.7);
    --vesper-alpha-contrast-800: rgba(241, 248, 248, 0.8);
    --vesper-alpha-contrast-900: rgba(241, 248, 248, 0.9);
    --vesper-alpha-inverse-0: transparent;
    --vesper-alpha-inverse-50: rgba(7, 22, 20, 0.05);
    --vesper-alpha-inverse-100: rgba(7, 22, 20, 0.1);
    --vesper-alpha-inverse-200: rgba(7, 22, 20, 0.2);
    --vesper-alpha-inverse-300: rgba(7, 22, 20, 0.3);
    --vesper-alpha-inverse-400: rgba(7, 22, 20, 0.4);
    --vesper-alpha-inverse-500: rgba(7, 22, 20, 0.5);
    --vesper-alpha-inverse-600: rgba(7, 22, 20, 0.6);
    --vesper-alpha-inverse-700: rgba(7, 22, 20, 0.7);
    --vesper-alpha-inverse-800: rgba(7, 22, 20, 0.8);
    --vesper-alpha-inverse-900: rgba(7, 22, 20, 0.9);
  }
}

html[data-vesper-theme="light"] {
  --vesper-static-black: #071614;
  --vesper-static-white: #f1f8f8;
  --vesper-transparent: transparent;
  --vesper-stone-0: #f1f8f8;
  --vesper-stone-50: #e5f2f1;
  --vesper-stone-100: #d8eae8;
  --vesper-stone-200: #d0e2df;
  --vesper-stone-300: #c7d9d8;
  --vesper-stone-400: #b3c5c3;
  --vesper-stone-500: #9eb2b0;
  --vesper-stone-600: #678583;
  --vesper-stone-700: #415e5b;
  --vesper-stone-800: #293d3b;
  --vesper-stone-900: #092221;
  --vesper-teal-0: #eff8fb;
  --vesper-teal-50: #e2f3f9;
  --vesper-teal-100: #caecf7;
  --vesper-teal-200: #a1e2f7;
  --vesper-teal-300: #8ad2ea;
  --vesper-teal-400: #5cbcdb;
  --vesper-teal-500: #32abd2;
  --vesper-teal-600: #1b8eb1;
  --vesper-teal-700: #176782;
  --vesper-teal-800: #144a5d;
  --vesper-teal-900: #0c2f3b;
  --vesper-purple-0: #f8f7fd;
  --vesper-purple-50: #efedfd;
  --vesper-purple-100: #dad5fb;
  --vesper-purple-200: #c0b7f9;
  --vesper-purple-300: #a196e9;
  --vesper-purple-400: #8074cd;
  --vesper-purple-500: #6458b6;
  --vesper-purple-600: #4d429a;
  --vesper-purple-700: #342b6e;
  --vesper-purple-800: #272150;
  --vesper-purple-900: #1d1b2d;
  --vesper-mint-0: #f1fdfb;
  --vesper-mint-50: #dffbf8;
  --vesper-mint-100: #cef3ee;
  --vesper-mint-200: #a5e9dc;
  --vesper-mint-300: #78ddcb;
  --vesper-mint-400: #40bfa8;
  --vesper-mint-500: #29a38d;
  --vesper-mint-600: #227767;
  --vesper-mint-700: #13584b;
  --vesper-mint-800: #0f3d35;
  --vesper-mint-900: #112c26;
  --vesper-pink-0: #fdf7fb;
  --vesper-pink-50: #fdedf7;
  --vesper-pink-100: #fccfeb;
  --vesper-pink-200: #ffade0;
  --vesper-pink-300: #f17ec5;
  --vesper-pink-400: #e557af;
  --vesper-pink-500: #be378a;
  --vesper-pink-600: #91306c;
  --vesper-pink-700: #6b2450;
  --vesper-pink-800: #441d35;
  --vesper-pink-900: #2e0f22;
  --vesper-yellow-0: #fffcf5;
  --vesper-yellow-50: #fff5e0;
  --vesper-yellow-100: #ffebc2;
  --vesper-yellow-200: #ffd88a;
  --vesper-yellow-300: #ffc757;
  --vesper-yellow-400: #ffb71b;
  --vesper-yellow-500: #d99a12;
  --vesper-yellow-600: #986f16;
  --vesper-yellow-700: #6d5217;
  --vesper-yellow-800: #473715;
  --vesper-yellow-900: #2e2614;
  --vesper-green-0: #f1fdf8;
  --vesper-green-50: #dffbf2;
  --vesper-green-100: #cef3e7;
  --vesper-green-200: #a5e9d0;
  --vesper-green-300: #78ddb8;
  --vesper-green-400: #40bf90;
  --vesper-green-500: #29a376;
  --vesper-green-600: #227758;
  --vesper-green-700: #13583f;
  --vesper-green-800: #0f3d2c;
  --vesper-green-900: #112c21;
  --vesper-red-0: #fef3f0;
  --vesper-red-50: #fde7e2;
  --vesper-red-100: #fbcfc6;
  --vesper-red-200: #faad9e;
  --vesper-red-300: #f88d77;
  --vesper-red-400: #f45434;
  --vesper-red-500: #d93c1c;
  --vesper-red-600: #b3341a;
  --vesper-red-700: #7c3627;
  --vesper-red-800: #523028;
  --vesper-red-900: #2c1a16;
  --vesper-amber-0: #fffaf5;
  --vesper-amber-50: #fff1e0;
  --vesper-amber-100: #ffe4c2;
  --vesper-amber-200: #ffc88a;
  --vesper-amber-300: #ffb057;
  --vesper-amber-400: #ff951b;
  --vesper-amber-500: #d97912;
  --vesper-amber-600: #985d16;
  --vesper-amber-700: #6d4717;
  --vesper-amber-800: #473015;
  --vesper-amber-900: #2e2214;
  --vesper-sky-0: #f0f9fe;
  --vesper-sky-50: #e0f3ff;
  --vesper-sky-100: #c2e3fa;
  --vesper-sky-200: #9acef4;
  --vesper-sky-300: #6cb5ea;
  --vesper-sky-400: #3b9de3;
  --vesper-sky-500: #2270bf;
  --vesper-sky-600: #0f5499;
  --vesper-sky-700: #1a4066;
  --vesper-sky-800: #1a3046;
  --vesper-sky-900: #122130;
  --vesper-alpha-stone-0: rgba(28, 161, 157, 0.023);
  --vesper-alpha-stone-50: rgba(14, 129, 115, 0.043);
  --vesper-alpha-stone-100: rgba(26, 116, 95, 0.104);
  --vesper-alpha-stone-200: rgba(20, 92, 81, 0.125);
  --vesper-alpha-stone-300: rgba(16, 76, 69, 0.169);
  --vesper-alpha-stone-400: rgba(1, 48, 46, 0.255);
  --vesper-alpha-stone-500: rgba(3, 46, 44, 0.345);
  --vesper-alpha-stone-600: rgba(0, 48, 46, 0.572);
  --vesper-alpha-stone-700: rgba(0, 36, 32, 0.729);
  --vesper-alpha-stone-800: rgba(0, 26, 23, 0.839);
  --vesper-alpha-stone-900: rgba(0, 30, 29, 0.973);
  --vesper-alpha-contrast-0: transparent;
  --vesper-alpha-contrast-50: rgba(7, 22, 20, 0.05);
  --vesper-alpha-contrast-100: rgba(7, 22, 20, 0.1);
  --vesper-alpha-contrast-200: rgba(7, 22, 20, 0.2);
  --vesper-alpha-contrast-300: rgba(7, 22, 20, 0.3);
  --vesper-alpha-contrast-400: rgba(7, 22, 20, 0.4);
  --vesper-alpha-contrast-500: rgba(7, 22, 20, 0.5);
  --vesper-alpha-contrast-600: rgba(7, 22, 20, 0.6);
  --vesper-alpha-contrast-700: rgba(7, 22, 20, 0.7);
  --vesper-alpha-contrast-800: rgba(7, 22, 20, 0.8);
  --vesper-alpha-contrast-900: rgba(7, 22, 20, 0.9);
  --vesper-alpha-inverse-0: transparent;
  --vesper-alpha-inverse-50: rgba(241, 248, 248, 0.05);
  --vesper-alpha-inverse-100: rgba(241, 248, 248, 0.1);
  --vesper-alpha-inverse-200: rgba(241, 248, 248, 0.2);
  --vesper-alpha-inverse-300: rgba(241, 248, 248, 0.3);
  --vesper-alpha-inverse-400: rgba(241, 248, 248, 0.4);
  --vesper-alpha-inverse-500: rgba(241, 248, 248, 0.5);
  --vesper-alpha-inverse-600: rgba(241, 248, 248, 0.6);
  --vesper-alpha-inverse-700: rgba(241, 248, 248, 0.7);
  --vesper-alpha-inverse-800: rgba(241, 248, 248, 0.8);
  --vesper-alpha-inverse-900: rgba(241, 248, 248, 0.9);
}

html[data-vesper-theme="dark"] {
  --vesper-static-black: #071614;
  --vesper-static-white: #f1f8f8;
  --vesper-transparent: transparent;
  --vesper-stone-0: #071614;
  --vesper-stone-50: #0f1d1b;
  --vesper-stone-100: #172624;
  --vesper-stone-200: #1f2d2b;
  --vesper-stone-300: #263634;
  --vesper-stone-400: #344d49;
  --vesper-stone-500: #486762;
  --vesper-stone-600: #60807b;
  --vesper-stone-700: #7a9994;
  --vesper-stone-800: #c2d6d3;
  --vesper-stone-900: #e7f0ee;
  --vesper-teal-0: #0a161a;
  --vesper-teal-50: #0e2025;
  --vesper-teal-100: #0d2c35;
  --vesper-teal-200: #073a4a;
  --vesper-teal-300: #0f4557;
  --vesper-teal-400: #12647d;
  --vesper-teal-500: #157693;
  --vesper-teal-600: #4eb3d4;
  --vesper-teal-700: #6cc7e5;
  --vesper-teal-800: #a3e0f5;
  --vesper-teal-900: #c8edf9;
  --vesper-purple-0: #0f0e1b;
  --vesper-purple-50: #171528;
  --vesper-purple-100: #211c3f;
  --vesper-purple-200: #27214a;
  --vesper-purple-300: #2f285d;
  --vesper-purple-400: #382f74;
  --vesper-purple-500: #5145a1;
  --vesper-purple-600: #7b70c2;
  --vesper-purple-700: #998fdc;
  --vesper-purple-800: #bdb2ff;
  --vesper-purple-900: #d6d0fb;
  --vesper-mint-0: #041f19;
  --vesper-mint-50: #073128;
  --vesper-mint-100: #0b4137;
  --vesper-mint-200: #0b5144;
  --vesper-mint-300: #116959;
  --vesper-mint-400: #15937c;
  --vesper-mint-500: #1bbb9e;
  --vesper-mint-600: #39c6ac;
  --vesper-mint-700: #4ce5c9;
  --vesper-mint-800: #82edd9;
  --vesper-mint-900: #caf7f1;
  --vesper-pink-0: #1f0a17;
  --vesper-pink-50: #2e0f22;
  --vesper-pink-100: #3d152e;
  --vesper-pink-200: #491d38;
  --vesper-pink-300: #6b2450;
  --vesper-pink-400: #91306c;
  --vesper-pink-500: #be378a;
  --vesper-pink-600: #e34faa;
  --vesper-pink-700: #f17ec5;
  --vesper-pink-800: #ffc2e8;
  --vesper-pink-900: #fde2f3;
  --vesper-yellow-0: #211908;
  --vesper-yellow-50: #31260c;
  --vesper-yellow-100: #3f3112;
  --vesper-yellow-200: #534018;
  --vesper-yellow-300: #7a5c1a;
  --vesper-yellow-400: #9c7217;
  --vesper-yellow-500: #d09311;
  --vesper-yellow-600: #ffb71b;
  --vesper-yellow-700: #ffc757;
  --vesper-yellow-800: #ffd88a;
  --vesper-yellow-900: #ffeecc;
  --vesper-green-0: #041f15;
  --vesper-green-50: #073120;
  --vesper-green-100: #0b412e;
  --vesper-green-200: #0b5137;
  --vesper-green-300: #116949;
  --vesper-green-400: #159365;
  --vesper-green-500: #1bbb81;
  --vesper-green-600: #39c692;
  --vesper-green-700: #4ce5ad;
  --vesper-green-800: #82edc6;
  --vesper-green-900: #caf7e9;
  --vesper-red-0: #1d0f0c;
  --vesper-red-50: #2c1611;
  --vesper-red-100: #3d1b14;
  --vesper-red-200: #521f14;
  --vesper-red-300: #7a2a1a;
  --vesper-red-400: #973420;
  --vesper-red-500: #d43b1c;
  --vesper-red-600: #e44e2f;
  --vesper-red-700: #f37359;
  --vesper-red-800: #f5b2a3;
  --vesper-red-900: #fde8e2;
  --vesper-amber-0: #211608;
  --vesper-amber-50: #31210c;
  --vesper-amber-100: #3f2b12;
  --vesper-amber-200: #533818;
  --vesper-amber-300: #7a4f1a;
  --vesper-amber-400: #9c5e17;
  --vesper-amber-500: #d07a11;
  --vesper-amber-600: #ff991b;
  --vesper-amber-700: #ffb057;
  --vesper-amber-800: #ffc88a;
  --vesper-amber-900: #ffe7cc;
  --vesper-sky-0: #09101b;
  --vesper-sky-50: #0f1b2d;
  --vesper-sky-100: #10243e;
  --vesper-sky-200: #092e53;
  --vesper-sky-300: #0f4d86;
  --vesper-sky-400: #135ea7;
  --vesper-sky-500: #1671c9;
  --vesper-sky-600: #0091ff;
  --vesper-sky-700: #33a3ff;
  --vesper-sky-800: #70b8ff;
  --vesper-sky-900: #c2e0ff;
  --vesper-alpha-stone-0: rgba(33, 60, 61, 0.03);
  --vesper-alpha-stone-50: rgba(154, 246, 244, 0.035);
  --vesper-alpha-stone-100: rgba(184, 244, 243, 0.075);
  --vesper-alpha-stone-200: rgba(204, 245, 241, 0.11);
  --vesper-alpha-stone-300: rgba(215, 249, 242, 0.141);
  --vesper-alpha-stone-400: rgba(174, 254, 244, 0.247);
  --vesper-alpha-stone-500: rgba(180, 255, 244, 0.357);
  --vesper-alpha-stone-600: rgba(195, 255, 247, 0.461);
  --vesper-alpha-stone-700: rgba(206, 255, 248, 0.561);
  --vesper-alpha-stone-800: rgba(231, 254, 250, 0.834);
  --vesper-alpha-stone-900: rgba(245, 255, 253, 0.937);
  --vesper-alpha-contrast-0: transparent;
  --vesper-alpha-contrast-50: rgba(241, 248, 248, 0.05);
  --vesper-alpha-contrast-100: rgba(241, 248, 248, 0.1);
  --vesper-alpha-contrast-200: rgba(241, 248, 248, 0.2);
  --vesper-alpha-contrast-300: rgba(241, 248, 248, 0.3);
  --vesper-alpha-contrast-400: rgba(241, 248, 248, 0.4);
  --vesper-alpha-contrast-500: rgba(241, 248, 248, 0.5);
  --vesper-alpha-contrast-600: rgba(241, 248, 248, 0.6);
  --vesper-alpha-contrast-700: rgba(241, 248, 248, 0.7);
  --vesper-alpha-contrast-800: rgba(241, 248, 248, 0.8);
  --vesper-alpha-contrast-900: rgba(241, 248, 248, 0.9);
  --vesper-alpha-inverse-0: transparent;
  --vesper-alpha-inverse-50: rgba(7, 22, 20, 0.05);
  --vesper-alpha-inverse-100: rgba(7, 22, 20, 0.1);
  --vesper-alpha-inverse-200: rgba(7, 22, 20, 0.2);
  --vesper-alpha-inverse-300: rgba(7, 22, 20, 0.3);
  --vesper-alpha-inverse-400: rgba(7, 22, 20, 0.4);
  --vesper-alpha-inverse-500: rgba(7, 22, 20, 0.5);
  --vesper-alpha-inverse-600: rgba(7, 22, 20, 0.6);
  --vesper-alpha-inverse-700: rgba(7, 22, 20, 0.7);
  --vesper-alpha-inverse-800: rgba(7, 22, 20, 0.8);
  --vesper-alpha-inverse-900: rgba(7, 22, 20, 0.9);
}

/* semantic color tokens */
:root {
  /* background colors */
  --vesper-background-primary: var(--vesper-stone-0);
  --vesper-background-secondary: var(--vesper-stone-50);
  --vesper-background-tertiary: var(--vesper-stone-100);
  --vesper-background-disabled: var(--vesper-alpha-stone-100);
  --vesper-background-inverse-primary: var(--vesper-alpha-stone-900);
  --vesper-background-inverse-secondary: var(--vesper-alpha-stone-800);
  --vesper-background-inverse-disabled: var(--vesper-alpha-inverse-50);
  --vesper-background-accent-subtle: var(--vesper-teal-50);
  --vesper-background-accent-base: var(--vesper-teal-400);
  --vesper-background-success-subtle: var(--vesper-green-50);
  --vesper-background-success-base: var(--vesper-green-600);
  --vesper-background-warning-subtle: var(--vesper-amber-50);
  --vesper-background-warning-base: var(--vesper-amber-500);
  --vesper-background-error-subtle: var(--vesper-red-50);
  --vesper-background-error-base: var(--vesper-red-500);
  --vesper-background-info-subtle: var(--vesper-sky-50);
  --vesper-background-info-base: var(--vesper-sky-600);
  --vesper-background-static-white: var(--vesper-static-white);
  --vesper-background-static-black: var(--vesper-static-black);
  --vesper-background-brand-purple-subtle: var(--vesper-purple-50);
  --vesper-background-brand-purple-base: var(--vesper-purple-600);
  --vesper-background-brand-mint-subtle: var(--vesper-mint-50);
  --vesper-background-brand-mint-base: var(--vesper-mint-600);
  --vesper-background-brand-pink-subtle: var(--vesper-pink-50);
  --vesper-background-brand-pink-base: var(--vesper-pink-600);
  --vesper-background-brand-yellow-subtle: var(--vesper-yellow-50);
  --vesper-background-brand-yellow-base: var(--vesper-yellow-400);

  /* text colors */
  --vesper-text-primary: var(--vesper-stone-900);
  --vesper-text-secondary: var(--vesper-stone-700);
  --vesper-text-tertiary: var(--vesper-stone-500);
  --vesper-text-disabled: var(--vesper-alpha-stone-400);
  --vesper-text-inverse-primary: var(--vesper-stone-0);
  --vesper-text-inverse-secondary: var(--vesper-stone-500);
  --vesper-text-inverse-tertiary: var(--vesper-stone-600);
  --vesper-text-alpha-disabled: var(--vesper-alpha-inverse-300);
  --vesper-text-on-color: var(--vesper-static-white);
  --vesper-text-accent: var(--vesper-teal-700);
  --vesper-text-success: var(--vesper-mint-600);
  --vesper-text-warning: var(--vesper-amber-600);
  --vesper-text-error: var(--vesper-red-600);
  --vesper-text-info: var(--vesper-sky-600);
  --vesper-text-static-black: var(--vesper-static-black);
  --vesper-text-static-white: var(--vesper-static-white);
  --vesper-text-link-default: var(--vesper-teal-700);
  --vesper-text-link-hover: var(--vesper-teal-600);
  --vesper-text-link-visited: var(--vesper-teal-800);
  --vesper-text-link-disabled: var(--vesper-alpha-stone-400);
  --vesper-text-brand-purple: var(--vesper-purple-600);
  --vesper-text-brand-mint: var(--vesper-mint-600);
  --vesper-text-brand-pink: var(--vesper-pink-600);
  --vesper-text-brand-yellow: var(--vesper-yellow-600);

  /* icon colors */
  --vesper-icon-primary: var(--vesper-stone-900);
  --vesper-icon-secondary: var(--vesper-stone-700);
  --vesper-icon-tertiary: var(--vesper-stone-600);
  --vesper-icon-disabled: var(--vesper-alpha-stone-500);
  --vesper-icon-inverse-primary: var(--vesper-alpha-stone-0);
  --vesper-icon-inverse-secondary: var(--vesper-alpha-stone-500);
  --vesper-icon-inverse-tertiary: var(--vesper-alpha-stone-600);
  --vesper-icon-inverse-disabled: var(--vesper-alpha-inverse-300);
  --vesper-icon-on-color: var(--vesper-static-white);
  --vesper-icon-accent: var(--vesper-teal-700);
  --vesper-icon-success: var(--vesper-mint-600);
  --vesper-icon-warning: var(--vesper-amber-600);
  --vesper-icon-error: var(--vesper-red-600);
  --vesper-icon-info: var(--vesper-sky-600);
  --vesper-icon-static-black: var(--vesper-static-black);
  --vesper-icon-static-white: var(--vesper-static-white);
  --vesper-icon-brand-purple: var(--vesper-purple-600);
  --vesper-icon-brand-mint: var(--vesper-mint-600);
  --vesper-icon-brand-pink: var(--vesper-pink-600);
  --vesper-icon-brand-yellow: var(--vesper-yellow-600);

  /* border colors */
  --vesper-border-primary: var(--vesper-stone-400);
  --vesper-border-secondary: var(--vesper-stone-300);
  --vesper-border-tertiary: var(--vesper-stone-200);
  --vesper-border-strong: var(--vesper-stone-900);
  --vesper-border-disabled: var(--vesper-alpha-stone-200);
  --vesper-border-focus: var(--vesper-teal-200);
  --vesper-border-inverse-primary: var(--vesper-stone-400);
  --vesper-border-inverse-secondary: var(--vesper-stone-600);
  --vesper-border-inverse-strong: var(--vesper-stone-0);
  --vesper-border-inverse-disabled: var(--vesper-alpha-inverse-100);
  --vesper-border-inverse-focus: var(--vesper-teal-500);
  --vesper-border-static-white: var(--vesper-static-white);
  --vesper-border-static-black: var(--vesper-static-black);
  --vesper-border-accent-subtle: var(--vesper-teal-200);
  --vesper-border-accent-base: var(--vesper-teal-600);
  --vesper-border-success-subtle: var(--vesper-green-200);
  --vesper-border-success-base: var(--vesper-green-500);
  --vesper-border-warning-subtle: var(--vesper-amber-200);
  --vesper-border-warning-base: var(--vesper-amber-500);
  --vesper-border-error-subtle: var(--vesper-red-200);
  --vesper-border-error-base: var(--vesper-red-500);
  --vesper-border-info-subtle: var(--vesper-sky-200);
  --vesper-border-info-base: var(--vesper-sky-500);
  --vesper-border-brand-purple-subtle: var(--vesper-purple-200);
  --vesper-border-brand-purple-base: var(--vesper-purple-500);
  --vesper-border-brand-mint-subtle: var(--vesper-mint-200);
  --vesper-border-brand-mint-base: var(--vesper-mint-500);
  --vesper-border-brand-pink-subtle: var(--vesper-pink-200);
  --vesper-border-brand-pink-base: var(--vesper-pink-500);
  --vesper-border-brand-yellow-subtle: var(--vesper-yellow-200);
  --vesper-border-brand-yellow-base: var(--vesper-yellow-500);

  /* scrim colors */
  --vesper-scrim-contrast-subtle: var(--vesper-alpha-contrast-300);
  --vesper-scrim-contrast-base: var(--vesper-alpha-contrast-600);
  --vesper-scrim-inverse-subtle: var(--vesper-alpha-inverse-300);
  --vesper-scrim-inverse-base: var(--vesper-alpha-inverse-600);
}
