:root {
  --vesper-radius-1: 0.25rem;
  --vesper-radius-2: 0.5rem;
  --vesper-radius-3: 0.75rem;
  --vesper-radius-4: 1rem;
  --vesper-radius-6: 1.5rem;
  --vesper-radius-7: 1.75rem;
  --vesper-radius-half: 0.125rem;
}
