:root {
  --vesper-shadow-100: 0 2px 6px 1px rgba(9, 34, 33, 0.1);
  --vesper-shadow-200: 0 4px 12px 0 rgba(9, 34, 33, 0.1);
  --vesper-shadow-300: 0 12px 32px 0 rgba(9, 34, 33, 0.15);
  --vesper-shadow-400: 0 24px 64px 0 rgba(9, 34, 33, 0.2);
  --vesper-shadow-inset-100: 0 2px 6px 0 var(--vesper-alpha-contrast-100) inset;
  --vesper-shadow-inset-200: 0 2px 12px 0 var(--tint-contrast-200) inset;
  --vesper-shadow-focus-ring: 0 0 0 3px var(--vesper-teal-200);
}
