:root {
  --vesper-spacing-0: 0rem;
  --vesper-spacing-1: 0.25rem;
  --vesper-spacing-2: 0.5rem;
  --vesper-spacing-3: 0.75rem;
  --vesper-spacing-4: 1rem;
  --vesper-spacing-5: 1.25rem;
  --vesper-spacing-6: 1.5rem;
  --vesper-spacing-8: 2rem;
  --vesper-spacing-10: 2.5rem;
  --vesper-spacing-12: 3rem;
  --vesper-spacing-14: 3.5rem;
  --vesper-spacing-16: 4rem;
  --vesper-spacing-20: 5rem;
  --vesper-spacing-24: 6rem;
  --vesper-spacing-28: 7rem;
  --vesper-spacing-32: 8rem;
  --vesper-spacing-40: 10rem;
  --vesper-spacing-half: 0.125rem;
  /* 0.0625rem = 1px when base rem = 16px */
  --vesper-spacing-micro: 0.0625rem;
}
