@import "./styles.css" layer(components);
@import "./tailwind-utilities.css";

@theme {
  --color-vesper-static-black: var(--vesper-static-black);
  --color-vesper-static-white: var(--vesper-static-white);
  --color-vesper-transparent: var(--vesper-transparent);
  --color-vesper-stone-0: var(--vesper-stone-0);
  --color-vesper-stone-50: var(--vesper-stone-50);
  --color-vesper-stone-100: var(--vesper-stone-100);
  --color-vesper-stone-200: var(--vesper-stone-200);
  --color-vesper-stone-300: var(--vesper-stone-300);
  --color-vesper-stone-400: var(--vesper-stone-400);
  --color-vesper-stone-500: var(--vesper-stone-500);
  --color-vesper-stone-600: var(--vesper-stone-600);
  --color-vesper-stone-700: var(--vesper-stone-700);
  --color-vesper-stone-800: var(--vesper-stone-800);
  --color-vesper-stone-900: var(--vesper-stone-900);
  --color-vesper-teal-0: var(--vesper-teal-0);
  --color-vesper-teal-50: var(--vesper-teal-50);
  --color-vesper-teal-100: var(--vesper-teal-100);
  --color-vesper-teal-200: var(--vesper-teal-200);
  --color-vesper-teal-300: var(--vesper-teal-300);
  --color-vesper-teal-400: var(--vesper-teal-400);
  --color-vesper-teal-500: var(--vesper-teal-500);
  --color-vesper-teal-600: var(--vesper-teal-600);
  --color-vesper-teal-700: var(--vesper-teal-700);
  --color-vesper-teal-800: var(--vesper-teal-800);
  --color-vesper-teal-900: var(--vesper-teal-900);
  --color-vesper-purple-0: var(--vesper-purple-0);
  --color-vesper-purple-50: var(--vesper-purple-50);
  --color-vesper-purple-100: var(--vesper-purple-100);
  --color-vesper-purple-200: var(--vesper-purple-200);
  --color-vesper-purple-300: var(--vesper-purple-300);
  --color-vesper-purple-400: var(--vesper-purple-400);
  --color-vesper-purple-500: var(--vesper-purple-500);
  --color-vesper-purple-600: var(--vesper-purple-600);
  --color-vesper-purple-700: var(--vesper-purple-700);
  --color-vesper-purple-800: var(--vesper-purple-800);
  --color-vesper-purple-900: var(--vesper-purple-900);
  --color-vesper-mint-0: var(--vesper-mint-0);
  --color-vesper-mint-50: var(--vesper-mint-50);
  --color-vesper-mint-100: var(--vesper-mint-100);
  --color-vesper-mint-200: var(--vesper-mint-200);
  --color-vesper-mint-300: var(--vesper-mint-300);
  --color-vesper-mint-400: var(--vesper-mint-400);
  --color-vesper-mint-500: var(--vesper-mint-500);
  --color-vesper-mint-600: var(--vesper-mint-600);
  --color-vesper-mint-700: var(--vesper-mint-700);
  --color-vesper-mint-800: var(--vesper-mint-800);
  --color-vesper-mint-900: var(--vesper-mint-900);
  --color-vesper-pink-0: var(--vesper-pink-0);
  --color-vesper-pink-50: var(--vesper-pink-50);
  --color-vesper-pink-100: var(--vesper-pink-100);
  --color-vesper-pink-200: var(--vesper-pink-200);
  --color-vesper-pink-300: var(--vesper-pink-300);
  --color-vesper-pink-400: var(--vesper-pink-400);
  --color-vesper-pink-500: var(--vesper-pink-500);
  --color-vesper-pink-600: var(--vesper-pink-600);
  --color-vesper-pink-700: var(--vesper-pink-700);
  --color-vesper-pink-800: var(--vesper-pink-800);
  --color-vesper-pink-900: var(--vesper-pink-900);
  --color-vesper-yellow-0: var(--vesper-yellow-0);
  --color-vesper-yellow-50: var(--vesper-yellow-50);
  --color-vesper-yellow-100: var(--vesper-yellow-100);
  --color-vesper-yellow-200: var(--vesper-yellow-200);
  --color-vesper-yellow-300: var(--vesper-yellow-300);
  --color-vesper-yellow-400: var(--vesper-yellow-400);
  --color-vesper-yellow-500: var(--vesper-yellow-500);
  --color-vesper-yellow-600: var(--vesper-yellow-600);
  --color-vesper-yellow-700: var(--vesper-yellow-700);
  --color-vesper-yellow-800: var(--vesper-yellow-800);
  --color-vesper-yellow-900: var(--vesper-yellow-900);
  --color-vesper-green-0: var(--vesper-green-0);
  --color-vesper-green-50: var(--vesper-green-50);
  --color-vesper-green-100: var(--vesper-green-100);
  --color-vesper-green-200: var(--vesper-green-200);
  --color-vesper-green-300: var(--vesper-green-300);
  --color-vesper-green-400: var(--vesper-green-400);
  --color-vesper-green-500: var(--vesper-green-500);
  --color-vesper-green-600: var(--vesper-green-600);
  --color-vesper-green-700: var(--vesper-green-700);
  --color-vesper-green-800: var(--vesper-green-800);
  --color-vesper-green-900: var(--vesper-green-900);
  --color-vesper-red-0: var(--vesper-red-0);
  --color-vesper-red-50: var(--vesper-red-50);
  --color-vesper-red-100: var(--vesper-red-100);
  --color-vesper-red-200: var(--vesper-red-200);
  --color-vesper-red-300: var(--vesper-red-300);
  --color-vesper-red-400: var(--vesper-red-400);
  --color-vesper-red-500: var(--vesper-red-500);
  --color-vesper-red-600: var(--vesper-red-600);
  --color-vesper-red-700: var(--vesper-red-700);
  --color-vesper-red-800: var(--vesper-red-800);
  --color-vesper-red-900: var(--vesper-red-900);
  --color-vesper-amber-0: var(--vesper-amber-0);
  --color-vesper-amber-50: var(--vesper-amber-50);
  --color-vesper-amber-100: var(--vesper-amber-100);
  --color-vesper-amber-200: var(--vesper-amber-200);
  --color-vesper-amber-300: var(--vesper-amber-300);
  --color-vesper-amber-400: var(--vesper-amber-400);
  --color-vesper-amber-500: var(--vesper-amber-500);
  --color-vesper-amber-600: var(--vesper-amber-600);
  --color-vesper-amber-700: var(--vesper-amber-700);
  --color-vesper-amber-800: var(--vesper-amber-800);
  --color-vesper-amber-900: var(--vesper-amber-900);
  --color-vesper-sky-0: var(--vesper-sky-0);
  --color-vesper-sky-50: var(--vesper-sky-50);
  --color-vesper-sky-100: var(--vesper-sky-100);
  --color-vesper-sky-200: var(--vesper-sky-200);
  --color-vesper-sky-300: var(--vesper-sky-300);
  --color-vesper-sky-400: var(--vesper-sky-400);
  --color-vesper-sky-500: var(--vesper-sky-500);
  --color-vesper-sky-600: var(--vesper-sky-600);
  --color-vesper-sky-700: var(--vesper-sky-700);
  --color-vesper-sky-800: var(--vesper-sky-800);
  --color-vesper-sky-900: var(--vesper-sky-900);
  --color-vesper-alpha-stone-0: var(--vesper-alpha-stone-0);
  --color-vesper-alpha-stone-50: var(--vesper-alpha-stone-50);
  --color-vesper-alpha-stone-100: var(--vesper-alpha-stone-100);
  --color-vesper-alpha-stone-200: var(--vesper-alpha-stone-200);
  --color-vesper-alpha-stone-300: var(--vesper-alpha-stone-300);
  --color-vesper-alpha-stone-400: var(--vesper-alpha-stone-400);
  --color-vesper-alpha-stone-500: var(--vesper-alpha-stone-500);
  --color-vesper-alpha-stone-600: var(--vesper-alpha-stone-600);
  --color-vesper-alpha-stone-700: var(--vesper-alpha-stone-700);
  --color-vesper-alpha-stone-800: var(--vesper-alpha-stone-800);
  --color-vesper-alpha-stone-900: var(--vesper-alpha-stone-900);
  --color-vesper-alpha-contrast-0: var(--vesper-alpha-contrast-0);
  --color-vesper-alpha-contrast-50: var(--vesper-alpha-contrast-50);
  --color-vesper-alpha-contrast-100: var(--vesper-alpha-contrast-100);
  --color-vesper-alpha-contrast-200: var(--vesper-alpha-contrast-200);
  --color-vesper-alpha-contrast-300: var(--vesper-alpha-contrast-300);
  --color-vesper-alpha-contrast-400: var(--vesper-alpha-contrast-400);
  --color-vesper-alpha-contrast-500: var(--vesper-alpha-contrast-500);
  --color-vesper-alpha-contrast-600: var(--vesper-alpha-contrast-600);
  --color-vesper-alpha-contrast-700: var(--vesper-alpha-contrast-700);
  --color-vesper-alpha-contrast-800: var(--vesper-alpha-contrast-800);
  --color-vesper-alpha-contrast-900: var(--vesper-alpha-contrast-900);
  --color-vesper-alpha-inverse-0: var(--vesper-alpha-inverse-0);
  --color-vesper-alpha-inverse-50: var(--vesper-alpha-inverse-50);
  --color-vesper-alpha-inverse-100: var(--vesper-alpha-inverse-100);
  --color-vesper-alpha-inverse-200: var(--vesper-alpha-inverse-200);
  --color-vesper-alpha-inverse-300: var(--vesper-alpha-inverse-300);
  --color-vesper-alpha-inverse-400: var(--vesper-alpha-inverse-400);
  --color-vesper-alpha-inverse-500: var(--vesper-alpha-inverse-500);
  --color-vesper-alpha-inverse-600: var(--vesper-alpha-inverse-600);
  --color-vesper-alpha-inverse-700: var(--vesper-alpha-inverse-700);
  --color-vesper-alpha-inverse-800: var(--vesper-alpha-inverse-800);
  --color-vesper-alpha-inverse-900: var(--vesper-alpha-inverse-900);
  --color-vesper-alpha-black-0: var(--vesper-alpha-black-0);
  --color-vesper-alpha-black-50: var(--vesper-alpha-black-50);
  --color-vesper-alpha-black-100: var(--vesper-alpha-black-100);
  --color-vesper-alpha-black-200: var(--vesper-alpha-black-200);
  --color-vesper-alpha-black-300: var(--vesper-alpha-black-300);
  --color-vesper-alpha-black-400: var(--vesper-alpha-black-400);
  --color-vesper-alpha-black-500: var(--vesper-alpha-black-500);
  --color-vesper-alpha-black-600: var(--vesper-alpha-black-600);
  --color-vesper-alpha-black-700: var(--vesper-alpha-black-700);
  --color-vesper-alpha-black-800: var(--vesper-alpha-black-800);
  --color-vesper-alpha-black-900: var(--vesper-alpha-black-900);
  --color-vesper-alpha-white-0: var(--vesper-alpha-white-0);
  --color-vesper-alpha-white-50: var(--vesper-alpha-white-50);
  --color-vesper-alpha-white-100: var(--vesper-alpha-white-100);
  --color-vesper-alpha-white-200: var(--vesper-alpha-white-200);
  --color-vesper-alpha-white-300: var(--vesper-alpha-white-300);
  --color-vesper-alpha-white-400: var(--vesper-alpha-white-400);
  --color-vesper-alpha-white-500: var(--vesper-alpha-white-500);
  --color-vesper-alpha-white-600: var(--vesper-alpha-white-600);
  --color-vesper-alpha-white-700: var(--vesper-alpha-white-700);
  --color-vesper-alpha-white-800: var(--vesper-alpha-white-800);
  --color-vesper-alpha-white-900: var(--vesper-alpha-white-900);
  --color-vesper-background-primary: var(--vesper-background-primary);
  --color-vesper-background-secondary: var(--vesper-background-secondary);
  --color-vesper-background-tertiary: var(--vesper-background-tertiary);
  --color-vesper-background-disabled: var(--vesper-background-disabled);
  --color-vesper-background-inverse-primary: var(
    --vesper-background-inverse-primary
  );
  --color-vesper-background-inverse-secondary: var(
    --vesper-background-inverse-secondary
  );
  --color-vesper-background-inverse-disabled: var(
    --vesper-background-inverse-disabled
  );
  --color-vesper-background-accent-subtle: var(
    --vesper-background-accent-subtle
  );
  --color-vesper-background-accent-base: var(--vesper-background-accent-base);
  --color-vesper-background-success-subtle: var(
    --vesper-background-success-subtle
  );
  --color-vesper-background-success-base: var(--vesper-background-success-base);
  --color-vesper-background-warning-subtle: var(
    --vesper-background-warning-subtle
  );
  --color-vesper-background-warning-base: var(--vesper-background-warning-base);
  --color-vesper-background-error-subtle: var(--vesper-background-error-subtle);
  --color-vesper-background-error-base: var(--vesper-background-error-base);
  --color-vesper-background-info-subtle: var(--vesper-background-info-subtle);
  --color-vesper-background-info-base: var(--vesper-background-info-base);
  --color-vesper-background-static-white: var(--vesper-background-static-white);
  --color-vesper-background-static-black: var(--vesper-background-static-black);
  --color-vesper-background-brand-purple-subtle: var(
    --vesper-background-brand-purple-subtle
  );
  --color-vesper-background-brand-purple-base: var(
    --vesper-background-brand-purple-base
  );
  --color-vesper-background-brand-mint-subtle: var(
    --vesper-background-brand-mint-subtle
  );
  --color-vesper-background-brand-mint-base: var(
    --vesper-background-brand-mint-base
  );
  --color-vesper-background-brand-pink-subtle: var(
    --vesper-background-brand-pink-subtle
  );
  --color-vesper-background-brand-pink-base: var(
    --vesper-background-brand-pink-base
  );
  --color-vesper-background-brand-yellow-subtle: var(
    --vesper-background-brand-yellow-subtle
  );
  --color-vesper-background-brand-yellow-base: var(
    --vesper-background-brand-yellow-base
  );
  --color-vesper-text-primary: var(--vesper-text-primary);
  --color-vesper-text-secondary: var(--vesper-text-secondary);
  --color-vesper-text-tertiary: var(--vesper-text-tertiary);
  --color-vesper-text-disabled: var(--vesper-text-disabled);
  --color-vesper-text-inverse-primary: var(--vesper-text-inverse-primary);
  --color-vesper-text-inverse-secondary: var(--vesper-text-inverse-secondary);
  --color-vesper-text-inverse-tertiary: var(--vesper-text-inverse-tertiary);
  --color-vesper-text-alpha-disabled: var(--vesper-text-alpha-disabled);
  --color-vesper-text-on-color: var(--vesper-text-on-color);
  --color-vesper-text-accent: var(--vesper-text-accent);
  --color-vesper-text-success: var(--vesper-text-success);
  --color-vesper-text-warning: var(--vesper-text-warning);
  --color-vesper-text-error: var(--vesper-text-error);
  --color-vesper-text-info: var(--vesper-text-info);
  --color-vesper-text-static-black: var(--vesper-text-static-black);
  --color-vesper-text-static-white: var(--vesper-text-static-white);
  --color-vesper-text-link-default: var(--vesper-text-link-default);
  --color-vesper-text-link-hover: var(--vesper-text-link-hover);
  --color-vesper-text-link-visited: var(--vesper-text-link-visited);
  --color-vesper-text-link-disabled: var(--vesper-text-link-disabled);
  --color-vesper-text-brand-purple: var(--vesper-text-brand-purple);
  --color-vesper-text-brand-mint: var(--vesper-text-brand-mint);
  --color-vesper-text-brand-pink: var(--vesper-text-brand-pink);
  --color-vesper-text-brand-yellow: var(--vesper-text-brand-yellow);
  --color-vesper-icon-primary: var(--vesper-icon-primary);
  --color-vesper-icon-secondary: var(--vesper-icon-secondary);
  --color-vesper-icon-tertiary: var(--vesper-icon-tertiary);
  --color-vesper-icon-disabled: var(--vesper-icon-disabled);
  --color-vesper-icon-inverse-primary: var(--vesper-icon-inverse-primary);
  --color-vesper-icon-inverse-secondary: var(--vesper-icon-inverse-secondary);
  --color-vesper-icon-inverse-tertiary: var(--vesper-icon-inverse-tertiary);
  --color-vesper-icon-inverse-disabled: var(--vesper-icon-inverse-disabled);
  --color-vesper-icon-on-color: var(--vesper-icon-on-color);
  --color-vesper-icon-accent: var(--vesper-icon-accent);
  --color-vesper-icon-success: var(--vesper-icon-success);
  --color-vesper-icon-warning: var(--vesper-icon-warning);
  --color-vesper-icon-error: var(--vesper-icon-error);
  --color-vesper-icon-info: var(--vesper-icon-info);
  --color-vesper-icon-static-black: var(--vesper-icon-static-black);
  --color-vesper-icon-static-white: var(--vesper-icon-static-white);
  --color-vesper-icon-brand-purple: var(--vesper-icon-brand-purple);
  --color-vesper-icon-brand-mint: var(--vesper-icon-brand-mint);
  --color-vesper-icon-brand-pink: var(--vesper-icon-brand-pink);
  --color-vesper-icon-brand-yellow: var(--vesper-icon-brand-yellow);
  --color-vesper-border-primary: var(--vesper-border-primary);
  --color-vesper-border-secondary: var(--vesper-border-secondary);
  --color-vesper-border-tertiary: var(--vesper-border-tertiary);
  --color-vesper-border-strong: var(--vesper-border-strong);
  --color-vesper-border-disabled: var(--vesper-border-disabled);
  --color-vesper-border-focus: var(--vesper-border-focus);
  --color-vesper-border-inverse-primary: var(--vesper-border-inverse-primary);
  --color-vesper-border-inverse-secondary: var(
    --vesper-border-inverse-secondary
  );
  --color-vesper-border-inverse-strong: var(--vesper-border-inverse-strong);
  --color-vesper-border-inverse-disabled: var(--vesper-border-inverse-disabled);
  --color-vesper-border-inverse-focus: var(--vesper-border-inverse-focus);
  --color-vesper-border-static-white: var(--vesper-border-static-white);
  --color-vesper-border-static-black: var(--vesper-border-static-black);
  --color-vesper-border-accent-subtle: var(--vesper-border-accent-subtle);
  --color-vesper-border-accent-base: var(--vesper-border-accent-base);
  --color-vesper-border-success-subtle: var(--vesper-border-success-subtle);
  --color-vesper-border-success-base: var(--vesper-border-success-base);
  --color-vesper-border-warning-subtle: var(--vesper-border-warning-subtle);
  --color-vesper-border-warning-base: var(--vesper-border-warning-base);
  --color-vesper-border-error-subtle: var(--vesper-border-error-subtle);
  --color-vesper-border-error-base: var(--vesper-border-error-base);
  --color-vesper-border-info-subtle: var(--vesper-border-info-subtle);
  --color-vesper-border-info-base: var(--vesper-border-info-base);
  --color-vesper-border-brand-purple-subtle: var(
    --vesper-border-brand-purple-subtle
  );
  --color-vesper-border-brand-purple-base: var(
    --vesper-border-brand-purple-base
  );
  --color-vesper-border-brand-mint-subtle: var(
    --vesper-border-brand-mint-subtle
  );
  --color-vesper-border-brand-mint-base: var(--vesper-border-brand-mint-base);
  --color-vesper-border-brand-pink-subtle: var(
    --vesper-border-brand-pink-subtle
  );
  --color-vesper-border-brand-pink-base: var(--vesper-border-brand-pink-base);
  --color-vesper-border-brand-yellow-subtle: var(
    --vesper-border-brand-yellow-subtle
  );
  --color-vesper-border-brand-yellow-base: var(
    --vesper-border-brand-yellow-base
  );
  --color-vesper-scrim-contrast-subtle: var(--vesper-scrim-contrast-subtle);
  --color-vesper-scrim-contrast-base: var(--vesper-scrim-contrast-base);
  --color-vesper-scrim-inverse-subtle: var(--vesper-scrim-inverse-subtle);
  --color-vesper-scrim-inverse-base: var(--vesper-scrim-inverse-base);
  --color-vesper-state-neutral-hover: var(--vesper-state-neutral-hover);
  --color-vesper-state-neutral-active: var(--vesper-state-neutral-active);
  --color-vesper-state-contrast-hover: var(--vesper-state-contrast-hover);
  --color-vesper-state-contrast-active: var(--vesper-state-contrast-active);
  --color-vesper-state-inverse-hover: var(--vesper-state-inverse-hover);
  --color-vesper-state-inverse-active: var(--vesper-state-inverse-active);
  --color-vesper-tint-neutral-100: var(--vesper-tint-neutral-100);
  --color-vesper-tint-neutral-200: var(--vesper-tint-neutral-200);
  --color-vesper-tint-neutral-300: var(--vesper-tint-neutral-300);
  --color-vesper-tint-neutral-400: var(--vesper-tint-neutral-400);
  --color-vesper-tint-contrast-100: var(--vesper-tint-contrast-100);
  --color-vesper-tint-contrast-200: var(--vesper-tint-contrast-200);
  --color-vesper-tint-contrast-300: var(--vesper-tint-contrast-300);
  --color-vesper-tint-contrast-400: var(--vesper-tint-contrast-400);
  --color-vesper-tint-inverse-100: var(--vesper-tint-inverse-100);
  --color-vesper-tint-inverse-200: var(--vesper-tint-inverse-200);
  --color-vesper-tint-inverse-300: var(--vesper-tint-inverse-300);
  --color-vesper-tint-inverse-400: var(--vesper-tint-inverse-400);
  --spacing-vesper-0: var(--vesper-spacing-0);
  --spacing-vesper-1: var(--vesper-spacing-1);
  --spacing-vesper-2: var(--vesper-spacing-2);
  --spacing-vesper-3: var(--vesper-spacing-3);
  --spacing-vesper-4: var(--vesper-spacing-4);
  --spacing-vesper-5: var(--vesper-spacing-5);
  --spacing-vesper-6: var(--vesper-spacing-6);
  --spacing-vesper-8: var(--vesper-spacing-8);
  --spacing-vesper-10: var(--vesper-spacing-10);
  --spacing-vesper-12: var(--vesper-spacing-12);
  --spacing-vesper-14: var(--vesper-spacing-14);
  --spacing-vesper-16: var(--vesper-spacing-16);
  --spacing-vesper-20: var(--vesper-spacing-20);
  --spacing-vesper-24: var(--vesper-spacing-24);
  --spacing-vesper-28: var(--vesper-spacing-28);
  --spacing-vesper-32: var(--vesper-spacing-32);
  --spacing-vesper-40: var(--vesper-spacing-40);
  --spacing-vesper-half: var(--vesper-spacing-half);
  --spacing-vesper-micro: var(--vesper-spacing-micro);
  --border-vesper-base: var(--vesper-stroke-base);
  --border-vesper-strong: var(--vesper-stroke-strong);
  --outline-width-vesper-base: var(--vesper-stroke-base);
  --outline-width-vesper-strong: var(--vesper-stroke-strong);
  --radius-vesper-1: var(--vesper-radius-1);
  --radius-vesper-2: var(--vesper-radius-2);
  --radius-vesper-3: var(--vesper-radius-3);
  --radius-vesper-4: var(--vesper-radius-4);
  --radius-vesper-6: var(--vesper-radius-6);
  --radius-vesper-7: var(--vesper-radius-7);
  --radius-vesper-half: var(--vesper-radius-half);
  --tracking-vesper-tightest: var(--vesper-tracking-tightest);
  --tracking-vesper-tighter: var(--vesper-tracking-tighter);
  --tracking-vesper-tight: var(--vesper-tracking-tight);
  --tracking-vesper-normal: var(--vesper-tracking-normal);
  --tracking-vesper-wide: var(--vesper-tracking-wide);
  --tracking-vesper-wider: var(--vesper-tracking-wider);
  --tracking-vesper-widest: var(--vesper-tracking-widest);
  --leading-vesper-none: var(--vesper-leading-none);
  --leading-vesper-tight: var(--vesper-leading-tight);
  --leading-vesper-snug: var(--vesper-leading-snug);
  --leading-vesper-normal: var(--vesper-leading-normal);
  --leading-vesper-relaxed: var(--vesper-leading-relaxed);
  --leading-vesper-loose: var(--vesper-leading-loose);
  --font-vesper-sans: var(--vesper-font-sans);
  --font-vesper-mono: var(--vesper-font-mono);
  --shadow-vesper-100: var(--vesper-shadow-100);
  --shadow-vesper-200: var(--vesper-shadow-200);
  --shadow-vesper-300: var(--vesper-shadow-300);
  --shadow-vesper-400: var(--vesper-shadow-400);
  --shadow-vesper-inset-100: var(--vesper-shadow-inset-100);
  --shadow-vesper-inset-200: var(--vesper-shadow-inset-200);
  --shadow-vesper-focus-ring: var(--vesper-shadow-focus-ring);
  --transition-duration-vesper-fast: var(--vesper-transition-duration-fast);
  --transition-duration-vesper-default: var(
    --vesper-transition-duration-default
  );
  --transition-duration-vesper-slow: var(--vesper-transition-duration-slow);
}
