@import "https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100..700;1,100..700&family=Inter+Tight:wght@100..900&display=swap";

@import "./styles.css";

:root {
  --vesper-transition-duration-fast: 0s !important;
  --vesper-transition-duration-default: 0s !important;
  --vesper-transition-duration-slow: 0s !important;
}

*,
*::before,
*::after {
  animation-duration: 0 !important;
  transition-duration: 0 !important;
}
