:root {
  --vesper-tracking-tightest: calc(-100% * (0.75 / 16));
  --vesper-tracking-tighter: calc(-100% * (0.5 / 16));
  --vesper-tracking-tight: calc(-100% * (0.25 / 16));
  --vesper-tracking-normal: 0;
  --vesper-tracking-wide: calc(100% * (0.25 / 16));
  --vesper-tracking-wider: calc(100% * (0.5 / 16));
  --vesper-tracking-widest: calc(100% * (0.75 / 16));
}
