.vesper-admonition {
  display: flex;
  align-items: center;
  gap: var(--vesper-spacing-4);
  border-radius: var(--vesper-radius-2);
  &.vesper-admonition-subtle {
    background: var(--vesper-stone-0);
  }
  .vesper-button {
    align-self: flex-start;
  }
}

.vesper-admonition-content {
  display: flex;
  align-items: flex-start;
  flex: 1;
  gap: var(--vesper-spacing-2);
}

.vesper-admonition-sm {
  padding: var(--vesper-spacing-2) var(--vesper-spacing-3);
  &:has(.vesper-button) {
    padding-right: var(--vesper-spacing-2);
  }
}

.vesper-admonition-md {
  padding: var(--vesper-spacing-3) var(--vesper-spacing-4);
  &:has(.vesper-button) {
    padding-right: var(--vesper-spacing-3);
  }
}

.vesper-admonition-icon {
  width: 16px;
  height: 20px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.vesper-admonition-info {
  background: var(--vesper-sky-50);
  color: var(--vesper-sky-600);
  border: 1px solid var(--vesper-sky-200);
}

.vesper-admonition-success {
  background: var(--vesper-green-50);
  color: var(--vesper-mint-600);
  border: 1px solid var(--vesper-green-200);
}

.vesper-admonition-warning {
  background: var(--vesper-amber-50);
  color: var(--vesper-amber-600);
  border: 1px solid var(--vesper-amber-200);
}

.vesper-admonition-danger {
  background: var(--vesper-red-50);
  color: var(--vesper-red-600);
  border: 1px solid var(--vesper-red-200);
}

.vesper-admonition-secondary {
  background: var(--vesper-alpha-contrast-100);
  color: var(--vesper-stone-900);
  border: 1px solid var(--vesper-stone-300);
}
