.vesper-admonition {
  display: flex;
  align-items: center;
  gap: var(--vesper-spacing-4);
  border-radius: var(--vesper-radius-2);
  &.vesper-admonition-subtle {
    background: var(--vesper-background-primary);
  }
  .vesper-button {
    align-self: flex-start;
  }
  @media (forced-colors: active) {
    &:focus-visible {
      outline: 2px solid CanvasText;
    }
  }
  @media not (forced-colors: active) {
    &:focus-visible {
      box-shadow: var(--vesper-shadow-focus-ring);
    }
  }
}

.vesper-admonition-content {
  display: flex;
  align-items: flex-start;
  flex: 1;
  gap: var(--vesper-spacing-2);
}

.vesper-admonition-sm {
  padding: var(--vesper-spacing-2) var(--vesper-spacing-3);
  &:has(.vesper-button) {
    padding-right: var(--vesper-spacing-2);
  }
}

.vesper-admonition-md {
  padding: var(--vesper-spacing-3) var(--vesper-spacing-4);
  &:has(.vesper-button) {
    padding-right: var(--vesper-spacing-3);
  }
}

.vesper-admonition-icon {
  width: 16px;
  height: 20px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.vesper-admonition-info {
  background: var(--vesper-background-info-subtle);
  border: 1px solid var(--vesper-border-info-subtle);
  color: var(--vesper-text-info);
}

.vesper-admonition-success {
  background: var(--vesper-background-success-subtle);
  border: 1px solid var(--vesper-border-success-subtle);
  color: var(--vesper-text-success);
}

.vesper-admonition-warning {
  background: var(--vesper-background-warning-subtle);
  border: 1px solid var(--vesper-border-warning-subtle);
  color: var(--vesper-text-warning);
}

.vesper-admonition-danger {
  background: var(--vesper-background-error-subtle);
  border: 1px solid var(--vesper-border-error-subtle);
  color: var(--vesper-text-error);
}

.vesper-admonition-secondary {
  background: var(--vesper-tint-contrast-200);
  border: 1px solid var(--vesper-border-secondary);
  color: var(--vesper-text-primary);
}
