.vesper-chip {
  height: 28px;
  display: inline-flex;
  align-items: center;
  gap: var(--vesper-spacing-1);
  border-radius: var(--vesper-radius-1);
  padding: 0 var(--vesper-spacing-2);
  cursor: pointer;
  @media (forced-colors: active) {
    border: var(--vesper-stroke-base) solid CanvasText;
    &:focus-visible {
      outline: var(--vesper-stroke-strong) solid CanvasText;
    }
  }
  @media not (forced-colors: active) {
    &:focus-visible {
      box-shadow: var(--vesper-shadow-focus-ring);
    }
  }
}

.vesper-chip-default {
  color: var(--vesper-text-primary);
  border: var(--vesper-stroke-base) solid var(--vesper-border-primary);
  background: var(--vesper-tint-inverse-200);
  &.vesper-chip-selected {
    color: var(--vesper-text-inverse-primary);
    background: var(--vesper-background-inverse-primary);
    border: var(--vesper-stroke-base) solid var(--vesper-border-strong);
    @media (forced-colors: active) {
      background: CanvasText;
      border: var(--vesper-stroke-base) solid CanvasText;
      color: Canvas;
      forced-color-adjust: none;
    }
  }
  &:hover {
    border: var(--vesper-stroke-base) solid var(--vesper-border-strong);
    background: var(--vesper-background-inverse-primary);
    &.vesper-chip-selected {
      color: var(--vesper-text-primary);
      background: var(--vesper-background-primary);
      @media (forced-colors: active) {
        background: Canvas;
        border: var(--vesper-stroke-base) solid CanvasText;
        forced-color-adjust: none;
      }
    }
    &:hover:not(.vesper-chip-selected) {
      background: var(--vesper-background-inverse-secondary);
    }
    @media (forced-colors: active) {
      background: CanvasText;
      color: Canvas;
      forced-color-adjust: none;
      &:focus-visible {
        outline-offset: var(--vesper-spacing-micro);
        outline-width: var(--vesper-stroke-base);
      }
    }
  }
}

.vesper-chip.vesper-chip-disabled {
  pointer-events: none;
  color: var(--vesper-text-disabled);
  background: var(--vesper-background-disabled);
  border: var(--vesper-stroke-base) solid var(--vesper-border-disabled);
  .vesper-chip-icon {
    color: var(--vesper-icon-disabled);
  }
  @media (forced-colors: active) {
    opacity: 0.5;
  }
}

.vesper-chip-icon {
  width: 14px;
  height: 14px;
}
