.vesper-accordion {
  padding: var(--vesper-spacing-3);
  border-radius: var(--vesper-radius-1);
  &:hover {
    .vesper-accordion-trigger {
      color: var(--vesper-text-primary);
    }
  }
  &[data-state="open"] {
    background: var(--vesper-state-neutral-hover);
    .vesper-accordion-trigger {
      color: var(--vesper-text-primary);
    }
    .vesper-accordion-trigger-icon {
      transform: rotate(90deg);
    }
  }
}

.vesper-accordion-trigger {
  padding: 0;
  position: relative;
  color: var(--vesper-text-secondary);
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  &::before {
    position: absolute;
    inset: calc(var(--vesper-spacing-3) * -1);
    border-radius: var(--vesper-radius-1);
    content: "";
  }
  &:focus-visible {
    outline: none;
    box-shadow: none;
    color: var(--vesper-text-primary);
    &::before {
      box-shadow: var(--vesper-shadow-focus-ring);
    }
  }
  @media (forced-colors: active) {
    &:focus-visible {
      &::before {
        outline: var(--vesper-stroke-strong) solid CanvasText;
      }
    }
  }
}

.vesper-accordion-trigger-icon {
  width: 1rem;
  height: 1rem;
  transition: transform var(--vesper-transition-duration-default) ease;
}

.vesper-accordion-content {
  position: relative;
  z-index: 1;
  overflow: visible;
  will-change: opacity;
  &[data-state="open"] {
    animation: vesper-accordion-open var(--vesper-transition-duration-default)
      ease;
  }
  &[data-state="closed"] {
    animation: vesper-accordion-close var(--vesper-transition-duration-default)
      ease;
  }
}

.vesper-accordion-content-children {
  padding-top: var(--vesper-spacing-2);
  color: var(--vesper-text-secondary);
  white-space: pre-line;
}

@keyframes vesper-accordion-open {
  0% {
    height: 0rem;
    opacity: 0;
  }
  100% {
    height: var(--radix-collapsible-content-height);
    opacity: 1;
  }
}
@keyframes vesper-accordion-close {
  0% {
    height: var(--radix-collapsible-content-height);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    height: 0rem;
    opacity: 0;
  }
}
