.vesper-tooltip {
  text-align: center;
  background: var(--vesper-background-inverse-primary);
  color: var(--vesper-text-inverse-primary);
  padding: var(--vesper-spacing-2) var(--vesper-spacing-3);
  border-radius: var(--vesper-radius-1);
  position: relative;
  @media (forced-colors: active) {
    forced-color-adjust: none;
    background: CanvasText;
    color: Canvas;
  }
  &[data-side="top"] .vesper-tooltip-arrow {
    top: 100%;
  }
  &[data-side="bottom"] .vesper-tooltip-arrow {
    bottom: 100%;
    transform: rotate(180deg);
  }
  &[data-side="top"][data-align="center"] .vesper-tooltip-arrow,
  &[data-side="bottom"][data-align="center"] .vesper-tooltip-arrow {
    left: calc(50% - 7px);
  }
  &[data-side="top"][data-align="start"] .vesper-tooltip-arrow,
  &[data-side="bottom"][data-align="start"] .vesper-tooltip-arrow {
    left: min(calc(50% - 7px), var(--vesper-spacing-4));
  }
  &[data-side="top"][data-align="end"] .vesper-tooltip-arrow,
  &[data-side="bottom"][data-align="end"] .vesper-tooltip-arrow {
    right: min(calc(50% - 7px), var(--vesper-spacing-4));
  }
  &[data-side="left"] .vesper-tooltip-arrow {
    left: 100%;
    transform: translateX(-3px) rotate(-90deg);
  }
  &[data-side="right"] .vesper-tooltip-arrow {
    right: 100%;
    transform: translateX(3px) rotate(90deg);
  }
  &[data-side="right"][data-align="center"] .vesper-tooltip-arrow,
  &[data-side="left"][data-align="center"] .vesper-tooltip-arrow {
    top: calc(50% - 4px);
  }
  &[data-side="right"][data-align="start"] .vesper-tooltip-arrow,
  &[data-side="left"][data-align="start"] .vesper-tooltip-arrow {
    top: min(calc(50% - 4px), var(--vesper-spacing-3));
  }
  &[data-side="right"][data-align="end"] .vesper-tooltip-arrow,
  &[data-side="left"][data-align="end"] .vesper-tooltip-arrow {
    bottom: min(calc(50% - 4px), var(--vesper-spacing-3));
  }

  &[data-state="closed"] {
    animation: vesper-tooltip-hide var(--vesper-transition-duration-fast) ease;
  }
  &[data-state="delayed-open"],
  &[data-state="instant-open"] {
    animation: vesper-tooltip-show var(--vesper-transition-duration-fast) ease;
  }
}

@keyframes vesper-tooltip-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes vesper-tooltip-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.vesper-tooltip-arrow {
  position: absolute;
  fill: var(--vesper-background-inverse-primary);
}
