.vesper-checkbox {
  display: flex;
  align-items: center;
  gap: var(--vesper-spacing-2);
  &:not(:has(:disabled)) {
    cursor: pointer;
  }
}

.vesper-checkbox-box {
  border-radius: var(--vesper-radius-half);
  border: var(--vesper-stroke-base) solid var(--vesper-border-primary);
  position: relative;
}

.vesper-checkbox-sm {
  .vesper-checkbox-box {
    width: 0.75rem;
    height: 0.75rem;
  }
}

.vesper-checkbox-md {
  .vesper-checkbox-box {
    width: 1rem;
    height: 1rem;
  }
}

.vesper-checkbox-checked-icon {
  position: absolute;
  visibility: hidden;
}
.vesper-checkbox-indeterminate-icon {
  position: absolute;
  visibility: hidden;
}

.vesper-checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;

  &:checked:not(:indeterminate) {
    &:not(:disabled) + .vesper-checkbox-box {
      background: var(--vesper-background-accent-base);
      border-color: var(--vesper-background-accent-base);
    }
    + .vesper-checkbox-box .vesper-checkbox-checked-icon {
      visibility: visible;
    }
  }
  &:focus-visible + .vesper-checkbox-box {
    outline-offset: var(--vesper-spacing-micro);
    outline: var(--vesper-stroke-base) solid var(--vesper-border-focus);
    @media (forced-colors: active) {
      outline-color: CanvasText;
    }
  }
  &:indeterminate + .vesper-checkbox-box {
    background: var(--vesper-background-accent-base);
    border-color: var(--vesper-background-accent-base);
    .vesper-checkbox-indeterminate-icon {
      visibility: visible;
    }
  }
  &:disabled {
    + .vesper-checkbox-box {
      border-color: var(--vesper-border-disabled);
      background: var(--vesper-background-disabled);
      .vesper-checkbox-indicator {
        color: var(--vesper-icon-disabled);
      }
    }
    ~ .vesper-checkbox-label {
      color: var(--vesper-text-disabled);
    }
  }
}

.vesper-checkbox-label {
  color: var(--vesper-text-primary);
}
