.vesper-code {
  padding: var(--vesper-spacing-half) var(--vesper-spacing-1);
  border-radius: var(--vesper-radius-1);
}
.vesper-code-default {
  background: var(--vesper-tint-neutral-100);
  color: var(--vesper-text-primary);
  border: 1px solid var(--vesper-border-tertiary);
}
.vesper-code-contrast {
  background: var(--vesper-background-inverse-primary);
  color: var(--vesper-text-inverse-primary);
  border: 1px solid var(--vesper-border-strong);
}
