.vesper-menu {
  display: flex;
  flex-direction: column;
  padding: var(--vesper-spacing-2);
  gap: var(--vesper-spacing-half);
  border-radius: var(--vesper-radius-3);
  border: var(--vesper-border-width-base) solid
    var(--vesper-color-border-tertiary);
  background: var(--vesper-color-background-primary);
  box-shadow: var(--vesper-shadow-200);
}

.vesper-menu-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--vesper-spacing-2);
  gap: var(--vesper-spacing-2);
  border-radius: var(--vesper-radius-1);
  cursor: pointer;
  outline: none;
  @media (forced-colors: active) {
    &:focus-visible {
      outline: var(--vesper-outline-width-strong) solid CanvasText;
    }
  }
}

.vesper-menu-item-default {
  color: var(--vesper-color-text-primary);
  .vesper-menu-item-label {
    color: var(--vesper-color-text-secondary);
  }
  &:hover,
  &:focus-visible,
  &[data-highlighted] {
    background: var(--vesper-color-tint-neutral-100);
  }
}

.vesper-menu-item-selected {
  color: var(--vesper-color-text-primary);
  background: var(--vesper-color-tint-neutral-200);
  .vesper-menu-item-label {
    color: var(--vesper-color-text-secondary);
  }
  &:hover,
  &:focus-visible,
  &[data-highlighted] {
    background:
      linear-gradient(
        0deg,
        var(--vesper-color-state-neutral-hover) 0%,
        var(--vesper-color-state-neutral-hover) 100%
      ),
      var(--vesper-color-tint-neutral-200);
  }
}

.vesper-menu-item-danger {
  color: var(--vesper-color-text-error);
  &:hover,
  &:focus-visible,
  &[data-highlighted] {
    background: var(--vesper-color-background-error-subtle);
  }
}

.vesper-menu-item-locked {
  pointer-events: none;
  color: var(--vesper-color-text-tertiary);
  .vesper-menu-item-left-icon,
  .vesper-menu-item-right-icon {
    color: var(--vesper-color-icon-tertiary);
  }
}

.vesper-menu-item-disabled {
  pointer-events: none;
  color: var(--vesper-color-text-disabled);
  .vesper-menu-item-left-icon,
  .vesper-menu-item-right-icon {
    color: var(--vesper-color-icon-disabled);
  }
}

.vesper-menu-item-left-icon {
  width: 1rem;
  height: 1rem;
}

.vesper-menu-item-right-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.vesper-menu-item-text-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--vesper-spacing-half);
}
