.vesper-tabs-trigger {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: var(--vesper-spacing-1);
  @media not (forced-colors: active) {
    &:focus-visible {
      box-shadow: var(--vesper-shadow-focus-ring);
    }
  }
}

.vesper-tabs-list {
  display: flex;
}

.vesper-tabs-trigger-icon {
  width: 16px;
  height: 16px;
}

.vesper-tabs-primary {
  .vesper-tabs-list {
    gap: var(--vesper-spacing-6);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-top: var(--vesper-stroke-base) solid var(--vesper-border-secondary);
    }
  }
  .vesper-tabs-trigger {
    padding: var(--vesper-spacing-4) 0;
    color: var(--vesper-text-secondary);
    position: relative;
    &:hover,
    &[data-state="active"] {
      color: var(--vesper-text-primary);
    }
    &:hover::after,
    &[data-state="active"]::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background: var(--vesper-border-strong);
      @media (forced-colors: active) {
        background: CanvasText;
      }
    }
  }
  @media (forced-colors: active) {
    &:focus-visible {
      outline: var(--vesper-stroke-strong) solid CanvasText;
    }
  }
  .vesper-tabs-trigger-icon {
    margin: calc(var(--vesper-spacing-micro) * -1) 0;
  }
}

.vesper-tabs-secondary {
  .vesper-tabs-list {
    gap: var(--vesper-spacing-2);
  }
  .vesper-tabs-trigger {
    padding: var(--vesper-spacing-2);
    border-radius: var(--vesper-spacing-1);
    background: var(--vesper-tint-neutral-300);
    color: var(--vesper-text-primary);
    &:hover,
    &[data-state="active"] {
      background: var(--vesper-background-inverse-primary);
      color: var(--vesper-text-inverse-primary);
      @media (forced-colors: active) {
        forced-color-adjust: none;
        color: Canvas;
        background: CanvasText;
      }
    }
    @media (forced-colors: active) {
      border: var(--vesper-stroke-base) solid CanvasText;
    }
    @media (forced-colors: active) {
      &:focus-visible {
        outline: var(--vesper-stroke-base) solid CanvasText;
        outline-offset: var(--vesper-spacing-micro);
      }
    }
  }
  .vesper-tabs-trigger-icon {
    margin: -2px 0;
  }
}
