.vesper-range {
  width: 100%;
  display: block;
  position: relative;
  @media (forced-colors: active) {
    &[data-disabled] {
      opacity: 0.35;
    }
  }
}

.vesper-range-track {
  display: block;
  position: relative;
  isolation: isolate;
  height: 1rem;
  width: 100%;
  &::before {
    content: "";
    position: absolute;
    top: 0.3125rem;
    bottom: 0.3125rem;
    left: 0;
    right: 0;
    background: var(--vesper-stone-200);
    border: var(--vesper-stroke-base) solid var(--vesper-border-primary);
    border-radius: var(--vesper-spacing-1);
  }
}

.vesper-range-tick {
  height: 1rem;
  position: absolute;
  border-left: var(--vesper-stroke-base) solid var(--vesper-border-primary);
  z-index: -1;
  @media (forced-colors: active) {
    background: CanvasText;
  }
}

.vesper-range-range {
  background: var(--vesper-background-accent-base);
  border: var(--vesper-stroke-base) solid var(--vesper-border-accent-base);
  border-radius: var(--vesper-spacing-1);
  position: absolute;
  top: 0.3125rem;
  bottom: 0.3125rem;
  &[data-disabled] {
    background: var(--vesper-tint-neutral-400);
    border: var(--vesper-stroke-base) solid var(--vesper-border-primary);
  }
  @media (forced-colors: active) {
    background: CanvasText;
    &[data-disabled] {
      background: CanvasText;
    }
  }
}

.vesper-range-thumb {
  width: 0rem;
  height: 0rem;
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    top: -1rem;
    left: -0.5rem;
    width: 1rem;
    height: 1rem;
    background: var(--vesper-background-tertiary);
    border: var(--vesper-stroke-base) solid var(--vesper-border-accent-base);
    border-radius: var(--vesper-spacing-2);
  }
  &.vesper-range-thumb-labeled {
    &::after {
      white-space: pre;
      content: var(--vesper-range-thumb-label, attr(aria-valuenow));
      color: var(--vesper-text-primary);
      background: var(--vesper-tint-neutral-100);
      border: var(--vesper-stroke-base) solid var(--vesper-border-secondary);
      border-radius: var(--vesper-radius-half);
      padding: var(--vesper-spacing-1);
      position: absolute;
      bottom: 1rem;
      transform: translateY(calc(var(--vesper-spacing-micro) * -1));
    }
  }
  &[data-disabled] {
    cursor: auto;
    &::before {
      border-color: var(--vesper-stone-400);
    }
    &::after {
      color: var(--vesper-text-disabled);
    }
  }
  @media (forced-colors: active) {
    &:focus-visible {
      outline: none;
      &::before {
        outline: var(--vesper-stroke-strong) solid CanvasText;
      }
    }
  }
  @media not (forced-colors: active) {
    &:focus-visible {
      &::before {
        box-shadow: var(--vesper-shadow-focus-ring);
      }
    }
  }
}
