.vesper-progress-bar {
  position: relative;
  width: 100%;
  background: var(--vesper-tint-neutral-200);
  overflow: hidden;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border: var(--vesper-stroke-base) solid var(--vesper-border-primary);
  }
}

.vesper-progress-bar-sm {
  height: 8px;
  border-radius: var(--vesper-spacing-2);
  &::before {
    border-radius: var(--vesper-spacing-2);
  }
}

.vesper-progress-bar-md {
  height: 12px;
  border-radius: var(--vesper-spacing-3);
  &::before {
    border-radius: var(--vesper-spacing-3);
  }
}

.vesper-progress-bar-lg {
  height: 16px;
  border-radius: var(--vesper-spacing-4);
  &::before {
    border-radius: var(--vesper-spacing-4);
  }
}

.vesper-progress-bar-indicator {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: var(--vesper-background-accent-base);
  @media (forced-colors: active) {
    background: CanvasText;
  }
}

.vesper-progress-bar-animated {
  .vesper-progress-bar-indicator {
    transition: width var(--vesper-transition-duration-default)
      cubic-bezier(0.45, 0.15, 0.25, 0.95);
  }
  .vesper-progress-bar-tick {
    transition: background var(--vesper-transition-duration-default)
      cubic-bezier(0.45, 0.15, 0.25, 0.95);
  }
}

.vesper-progress-bar-tick {
  position: relative;
  width: 1px;
}

.vesper-progress-bar-tick-light {
  background: var(--vesper-background-primary);
  @media (forced-colors: active) {
    background: Canvas;
  }
}

.vesper-progress-bar-tick-dark {
  background: var(--vesper-border-primary);
  @media (forced-colors: active) {
    background: CanvasText;
  }
}
