.vesper-snippet {
  position: relative;
  display: flex;
  padding: var(--vesper-spacing-2) var(--vesper-spacing-3);
  align-items: center;
  gap: var(--vesper-spacing-16);
  border: var(--vesper-stroke-base) solid var(--vesper-border-tertiary);
  border-radius: var(--vesper-radius-1);
  pre {
    margin: 0;
    outline: none;
  }
  code {
    display: flex;
    flex-direction: column;
  }
  .line::before {
    content: "$";
    margin-right: var(--vesper-spacing-2);
    user-select: none;
  }
}
.vesper-snippet-default {
  background: var(--vesper-tint-neutral-100);
  color: var(--vesper-text-primary);
}
.vesper-snippet-contrast {
  background: var(--vesper-background-inverse-primary);
  color: var(--vesper-text-inverse-primary);
}
