.vesper-avatar-group {
  display: flex;
  border-radius: 32px;
  @media (forced-colors: active) {
    &:focus-visible {
      outline: 2px solid CanvasText;
    }
  }
  @media not (forced-colors: active) {
    &:focus-visible {
      box-shadow: var(--vesper-shadow-focus-ring);
    }
  }
  .vesper-avatar:not(:first-child) {
    margin-left: -6px;
  }
  .vesper-avatar-md:not(:first-child) {
    margin-left: -10px;
  }
  .vesper-avatar-lg:not(:first-child) {
    margin-left: -14px;
  }
  .vesper-avatar-group-overflow {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--vesper-stone-0);
    background: var(--vesper-stone-900);
    font-family: var(--vesper-font-sans);
    font-weight: 400;
    line-height: var(--vesper-leading-none);
    letter-spacing: var(--vesper-tracking-normal);
  }
  .vesper-avatar-sm.vesper-avatar-group-overflow,
  .vesper-avatar-md.vesper-avatar-group-overflow {
    font-size: 0.5rem;
  }
  .vesper-avatar-lg.vesper-avatar-group-overflow {
    font-size: 0.75rem;
  }
}
