.vesper-show-more {
  display: flex;
  align-items: center;
  justify-content: center;
  &::before,
  &::after {
    content: "";
    flex: 1;
    border-bottom: var(--vesper-border-width-base) solid
      var(--vesper-color-border-tertiary);
  }
}
